.idea/
.idea_modules/
.settings/
*.iml
*.ipr
project/
log/
target/
conf/application.conf
*.gz

*.log

public/javascripts/algorithm/d3.v2.min.js

public/javascripts/algorithm/wordcloud/d3.layout.cloud.js

public/stylesheets/fonts-googleapis.css
