@(user: User, algorithmdetails: edu.indiana.d2i.htrc.portal.bean.AlgorithmDetailsBean,
parameters: List[edu.indiana.d2i.htrc.portal.bean.AlgorithmDetailsBean.Parameter], worksetlist: List[Workset], form: Form[AlgorithmManagement.SubmitJob])
@import edu.indiana.d2i.htrc.portal.bean.AlgorithmDetailsBean


@main("Algorithm", user) {
    @helper.form(routes.AlgorithmManagement.submitAlgorithm(), 'class -> "form-horizontal") {
        @if(form.hasGlobalErrors) {
            <p class="error">
                @form.globalError.message
            </p>
        }
        @if(flash.contains("success")) {
            <p class="success">
                @flash.get("success")
            </p>
        }
        <table>
            <input type="hidden" name="userName" value="@user.id">
            <tr>
                <input type="hidden" name="algorithmName" value="@algorithmdetails.getName"/>
                <td><b>Name: </b></td>
                <td>@algorithmdetails.getName</td>
            </tr>
            <tr>
                <td><b>Description:</b></td>
                <td>@algorithmdetails.getDescription</td>
            </tr>
            <tr>
                <td><b>Version:</b></td>
                <td>@algorithmdetails.getVersion</td>
            </tr>
            <tr>
                <td><b>Author:</b></td>
                <td>@algorithmdetails.getAuthors.remove(0)</td>
            </tr>
        </table>
        <div id="param">
            <label for="jobName">Please Input Job Name: (required) </label>
            <input type="text" name="jobName" required="true" id="jobName">
        </div>
        @for(pm <- parameters){
            <div>
                <input type="hidden" name="parameters[@{parameters.indexOf(pm) + 1}].paramName" value="@pm.getName"/>
                <input type="hidden" name="parameters[@{parameters.indexOf(pm) + 1}].paramType" value="@pm.getType"/>
                <label>@pm.getLabel</label>
                @if(pm.getType == "collection"){
                    <label>
                        <select name="parameters[@{
                            parameters.indexOf(pm) + 1
                        }].paramValue">
                            @for(ws <- worksetlist) {
                                <option> @ws.name </option>
                            }
                        </select>
                    </label>
                }else{
                    @if(pm.getType == "boolean"){
                        <label>
                            <select name="parameters[@{
                                parameters.indexOf(pm) + 1
                            }].paramValue">
                                <option> True </option> <option> False </option>
                            </select>
                        </label>
                    }else{
                        @if(pm.isRequired){
                            <label>
                                <input type="text" class = "span4" name="parameters[@{
                                    parameters.indexOf(pm) + 1
                                }].paramValue" required="true" value="@pm.getDefaultValue">
                            </label>
                                (required)
                        }else{
                            <label>
                                <input type="text" class = "span4" name="parameters[@{
                                    parameters.indexOf(pm) + 1
                                }].paramValue" value="@pm.getDefaultValue">
                            </label>
                                (optional)
                        }
                    }
                }
            </div>
        }
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    }

}