@(user: User)

@main("Home", user) {
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="row">
        <div class="span3">
            <img src="@routes.Assets.at("images/hathi.jpg")" width="180" height="180">
        </div>
        <div class="span9" style="margin-left: 0;">
            <h3 style="font-size: 60px; line-height: 1;margin-top: 35px;">
                    Welcome to the HathiTrust Research Center!
            </h3>

            @*@if(user == null){*@
                @*<div class="row">*@
                    @*<div class="span3">*@
                        @*<input type="text" name="userId" id="userId" placeholder="User ID...">*@
                    @*</div>*@
                    @*<div class="span3">*@
                        @*<input type="password" name="userPassword" id="userPassword" placeholder="Password...">*@
                    @*</div>*@
                    @*<div class="span3">*@
                        @*<input name="signin" id="signin" type="button" class="btn btn-primary" value="Sign In" />*@
                    @*</div>*@
                @*</div>*@
            @*}*@
        </div>
    </div>
    <div class="row" style="padding-top: 25px; font-size: 17px; line-height: 27px;">
        <div class="span12">
            <p>The HathiTrust Research Center (HTRC) provides research access to the public domain text of the HathiTrust
                Digital Library. The HTRC is a collaborative research center launched jointly by Indiana University and the
                University of Illinois, along with the HathiTrust Digital Library, to help meet the technical challenges of
                dealing with massive amounts of digital text that researchers face by developing cutting-edge software tools
                and cyber infrastructure to enable advanced computational access to the growing digital record of human
                knowledge. The HTRC provides an infrastructure to search, collect, analyze, and visualize the full text of nearly 3
                million public domain works and is intended for nonprofit and educational
                researchers. </p>
        </div>
    </div>


    <div class="span12 pull-right" style="margin-top: 20px;">
        <h2 style="margin-top: 0"> What You Can Do With HTRC Portal? </h2>
    </div>
    <div class="row pull-left markerting-unit">
        <div class="span3 action-unit">
            <div>
                <h3><a href="#" style="color:#FF9933;">Create Workset </a></h3>
                <p>Create workset using our workset builder.</p>
            </div>

        </div>
        <div class="span3 action-unit">
            <div>
                <h3><a href="#" style="color:#FF9933;"> Upload Workset</a> </h3>
                <p>Upload worksets with extra properties in CSV format.</p>
            </div>

        </div>
        <div class="span3 action-unit">
            <div>
                <h3><a href="#" style="color:#FF9933;"> Browse Workset</a> </h3>
                <p>Browse through already created worksets.</p>
            </div>
        </div>
        <div class="span3 action-unit">
            <div>
                <h3><a href="#" style="color:#FF9933;"> Execute Algorithms</a> </h3>
                <p>Execute algorithms on your worksets.</p>
            </div>
        </div>
    </div>


}
