@(user: User, activeJobs: List[edu.indiana.d2i.htrc.portal.bean.JobDetailsBean] , completedJobs: List[edu.indiana.d2i.htrc.portal.bean.JobDetailsBean])
@import edu.indiana.d2i.htrc.portal.bean.JobDetailsBean


@main("JobList", user) {
    <div class="row">
        <div class="span12">
            <fieldset>
                <legend><b>Active Jobs</b>
                    <div class="pull-right">
                        <a href="#" class="btn btn-warning btn-small" id="canceljobs">
                            <i class="icon-remove icon-white"></i>Cancel</a>
                    </div>
                </legend>
                <div id="activejobsheader">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Job Title</th>
                                <th>Last Updated</th>
                                <th>Status</th>
                                <th>Cancel?</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(job <- activeJobs){
                                <tr>
                                    <td>@job.getJobTitle</td>
                                </tr>
                                <tr>
                                    <td>@job.getLastUpdatedDate</td>
                                </tr>
                                <tr>
                                    <td>@job.getJobStatus</td>
                                </tr>
                                <tr>
                                    <td>
                                    <input type="checkbox">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-info">
                    <p style="margin-bottom: 0;">There are no active jobs..</p>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <fieldset>
                <legend><b>Completed Jobs</b>
                    <div class="pull-right">
                        <a href="#" class="btn btn-danger btn-small" id="deletejobs">
                            <i class="icon-remove icon-white"></i>Delete</a>
                        <a href="#" class="btn btn-info btn-small" id="savejobs">
                            <i class="icon-remove icon-white"></i>Save</a>
                    </div>
                </legend>
                <div id="completedjobsheader">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Job Title</th>
                                <th>Last Updated</th>
                                <th>Status</th>
                                <th>Cancel?</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(job <- completedJobs){
                                <tr>
                                    <td>@job.getJobTitle</td>
                                </tr>
                                <tr>
                                    <td>@job.getLastUpdatedDate</td>
                                </tr>
                                <tr>
                                    <td>@job.getJobStatus</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-info">
                    <p style="margin-bottom: 0;">There are no completed jobs..</p>
                </div>
            </fieldset>
        </div>
    </div>


}
