@(user: User, activeJobs: List[ActiveJob] , completedJobs: List[CompletedJob])



@main("JobList", user) {
    <div class="row">
        <div class="span12">
            <fieldset>
                <legend><b>Active Jobs</b>
                    <div class="pull-right">
                        <a href="#" class="btn btn-warning btn-small" id="canceljobs">
                            <i class="icon-remove icon-white"></i>Cancel</a>
                    </div>
                </legend>
                <div id="activejobsheader">
                    @helper.form(routes.HTRCPortal.cancelJobs() , 'id -> "active_jobs"){
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ActiveJob Title</th>
                                <th>Last Updated</th>
                                <th>Status</th>
                                <th>Cancel?</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(job <- activeJobs){
                                <tr>
                                    <td>@job.jobName</td>
                                    <td>@job.lastModified</td>
                                    <td>@job.status</td>
                                    <td><input name="activeJobs[@{activeJobs.indexOf(job)}]" type="checkbox" value="@job.jobId"></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    }
                </div>
                @if(activeJobs.isEmpty){
                    <div class="alert alert-info">
                    <p style="margin-bottom: 0;">There are no active jobs..</p>
                    </div>
                }
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <fieldset>
                <legend><b>Completed Jobs</b>
                    <div class="pull-right">
                        <a href="#" class="btn btn-danger btn-small" id="deletejobs">
                            <i class="icon-remove icon-white"></i>Delete</a>
                        <a href="#" class="btn btn-info btn-small" id="savejobs">
                            <i class="icon-remove icon-white"></i>Save</a>
                    </div>
                </legend>
                <div id="completedjobsheader">
                    @helper.form(routes.HTRCPortal.updateJobs(), 'id -> "completed_jobs"){
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ActiveJob Title</th>
                                <th>Last Updated</th>
                                <th>Status</th>
                                <th>Save/Delete?</th>
                                <th>Saved?</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(job <- completedJobs){
                                <tr>
                                    <td><a href="@routes.HTRCPortal.viewJobDetails(job.jobId)">@job.jobName</a></td>
                                    <td>@job.lastModified</td>
                                    <td>@job.status</td>
                                    <td><input name="completedJob[@{completedJobs.indexOf(job)}]" type="checkbox" value="@job.jobId"></td>
                                    <td>@job.jobSavedStr</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    }
                </div>
                @if(completedJobs.isEmpty){
                    <div class="alert alert-info">
                        <p style="margin-bottom: 0;">There are no completed jobs..</p>
                    </div>
                }
            </fieldset>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $( "#canceljobs" ).click(function() {
                $( "#active_jobs" ).submit();
                return false;
            });

            $( "#deletejobs" ).click(function() {
                var $hiddenInput = $('<input/>',{type:'hidden',name:'update-type',value:'delete'});
                $hiddenInput.appendTo('#completed_jobs');
                $( "#completed_jobs" ).submit();
                return false;
            });

            $( "#savejobs" ).click(function() {
                var $hiddenInput = $('<input/>',{type:'hidden',name:'update-type',value:'save'});
                $hiddenInput.appendTo('#completed_jobs');
                $( "#completed_jobs" ).submit();
                return false;
            });
        });


    </script>


}
