@(title: String, user: User)(content: Html)


<!DOCTYPE html>
<html>
    <head>
        <title> HTRC Portal - @title </title>
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")" rel="stylesheet">

        <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#"><img src="@routes.Assets.at("images/hathi.jpg")"
                    width="32" height="32" style="padding-right: 5px;">HTRC Portal</a>

                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="@routes.HTRCPortal.index()">Home</a></li>
                            <li><a href="@routes.HTRCPortal.about()">About</a>
                        </li>
                        @if(user != null) {
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Worksets <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@routes.HTRCPortal.listWorkset()">List</a></li>
                                <li class="divider"></li>
                                <li><a href="#" role="button" data-toggle="modal">Upload Workset</a></li>
                                <li class="divider"></li>
                                <li><a href="#" onclick="blacklightLoggingWarning()">Create Worksets</a>
                                </li>
                            </ul>
                            </li>
                            <li><a href="@routes.HTRCPortal.listAlgorithms()">Algorithms</a>
                            </li>
                            <li><a href="@routes.HTRCPortal.listJobs()">Results</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Experimental Analysis<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@routes.HTRCExperimentalAnalysis.listVMs()">Virtual Machines</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@routes.HTRCExperimentalAnalysis.createVMForm()" role="button" data-toggle="modal">Create Virtual Machine</a></li>
                                </ul>
                            </li>
                            <li><a href="http://wiki.htrc.illinois.edu/display/COM/HTRC+User+Getting+Started+FAQ">Help</a></li>
                        }
                        </ul>
                        @if(user == null) {
                            <ul class="nav pull-right">
                                <li><a href="@routes.HTRCPortal.login()">Sign In</a></li>
                                <li><a href="@routes.HTRCPortal.createSignUpForm()"><span>Sign Up</span></a></li>
                            </ul>
                        } else {
                            <ul class="nav pull-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle loggedin-user" data-toggle="dropdown" style="color: #FF9933;">@user.userId <span>(@user.email)</span><b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@routes.HTRCPortal.logout()">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        }
                    </div>
                        <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 15px;">
            @content
        </div>
        <div id="push"></div>
        <div id="footer">
            <div class="container">
                <hr/>
                <ul class="pull-right nav-footer">
                    <li> <a href="http://www.hathitrust.org/htrc"
                    title="About Hathi Trust Research Center"> About </a> | </li>
                    <li> <a href="#"> Contact </a> </li>
                </ul>
            </div>
        </div>
    </body>
</html>
