@(title: String, user: User)(content: Html)
@import play.api.Play


<!DOCTYPE html>
<html>
    <head>
        <title> HTRC Portal - @title </title>
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")" rel="stylesheet">

        <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="@routes.HTRCPortal.index()"><img src="@routes.Assets.at("images/hathi.jpg")"
                    width="32" height="32" style="padding-right: 5px;">HTRC Portal</a>

                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="@routes.HTRCPortal.index()">Home</a></li>
                            <li><a href="@routes.HTRCPortal.about()">About</a>
                        </li>
                        @if(user != null) {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Worksets <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@routes.WorksetManagement.listWorkset()">List</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" role="button" data-toggle="modal">Upload Workset</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create Workset <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" onclick="blacklightLoggingWarning()">From Workset Builder</a></li>
                                            <li><a href="@routes.HTRCWorksetBuilder.createWorkset()" >From Portal</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="@routes.AlgorithmManagement.listAlgorithms()">Algorithms</a>
                            </li>
                            <li><a href="@routes.JobManagement.listJobs()">Results</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Experimental Analysis<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@routes.ExperimentalAnalysis.listVMs()">Virtual Machines</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@routes.ExperimentalAnalysis.createVMForm()" role="button" data-toggle="modal">Create Virtual Machine</a></li>
                                </ul>
                            </li>
                        }
                            <li><a href="http://wiki.htrc.illinois.edu/display/COM/HTRC+Getting+Started+FAQ">Help</a></li>
                        </ul>
                        @if(user == null) {
                            <ul class="nav pull-right">
                                <li><a href="@routes.HTRCPortal.login()">Sign In</a></li>
                                <li><a href="@routes.UserManagement.createSignUpForm()"><span>Sign Up</span></a></li>
                            </ul>
                        } else {
                            <ul class="nav pull-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle loggedin-user" data-toggle="dropdown" style="color: #FF9933;">@user.userId <span>(@user.email)</span><b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@routes.HTRCPortal.logout()">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        }
                    </div>
                        <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 15px;">
            @content
        </div>
        <div id="push"></div>
        <div id="footer">
            <div class="container">
                <hr/>
                <ul class="pull-right nav-footer">
                    <li> <a href="http://www.hathitrust.org/htrc"
                    title="About Hathi Trust Research Center"> About </a> | </li>
                    <li> <a href="#"> Contact </a> </li>
                </ul>
            </div>
        </div>
        <div class="modal hide fade" id="create-collection-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Create Workset</h3>
            </div>
            <div class="modal-body">
                <p>Although you've already logged in to HTRC Portal, you need to log in
                    to HTRC Workset Builder in order to create or modify a workset.</p>
            </div>
            <div class="modal-footer">
                <span class="pull-left" style="padding-top: 5px;"><input type="checkbox" id="dont-show" style="margin: -3px 0 0;"> Don't Show This Again.</span>
                <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
                <a href="@play.Play.application().configuration().getString("blacklight.url")" class="btn btn-primary" onclick="goToCreateCollection()">Go</a>
            </div>
        </div>

    </body>
    <script type="text/javascript">
            function blacklightLoggingWarning(){

            if(localStorage['dont-show-create-warning']){
            location.href = "@play.Play.application().configuration().getString("blacklight.url")";
            return true;
            }

            $('#create-collection-modal').modal('show');

            return false;
            }

            function goToCreateCollection(){
            if($("#dont-show").is(':checked')){
            localStorage['dont-show-create-warning'] = true;
            }

            return true;
            }
    </script>
</html>
