@(sharedPage:Int, totalSharedPages:Int, ownedPage:Int, bound:Int = 3)

@lowbound() = @{
    if (sharedPage == 1){
        1
    } else {
        sharedPage - 1
    }
}

@highbound() = @{
    if (sharedPage == totalSharedPages){
        totalSharedPages
    } else {
        sharedPage + 1
    }
}


<div class="pagination pull-right">
    <ul>
        @if(sharedPage == 1){
            <li class="disabled"><a href="#">&laquo; Previous</a></li>
        } else {
            <li><a href="@routes.WorksetManagement.listWorkset(sharedPage-1, ownedPage)">&laquo; Previous</a></li>

        }

        @if(sharedPage >= bound) {
            <li><a href="@routes.WorksetManagement.listWorkset(1, ownedPage)">1</a></li>
            <li class="disabled"><a href="#">..</a></li>
        }

        @for(i <- lowbound().max(1) until sharedPage) {
            <li><a href="@routes.WorksetManagement.listWorkset(i, ownedPage)">@i</a></li>
        }

        <li class="active"><a href="#">@sharedPage</a></li>

        @for(i <- sharedPage + 1 to highbound()) {
            <li><a href="@routes.WorksetManagement.listWorkset(i, ownedPage)">@i</a></li>
        }

        @if(highbound() < totalSharedPages) {
            <li class="disabled"><a href="#">..</a></li>
            <li><a href="@routes.WorksetManagement.listWorkset(totalSharedPages, ownedPage)">@totalSharedPages</a></li>
        }

        @if(sharedPage < highbound()) {
            <li><a href="@routes.WorksetManagement.listWorkset(sharedPage+1, ownedPage)">Next &raquo;</a></li>
        } else {
            <li class="disabled"><a href="#">Next &raquo;</a></li>

        }
    </ul>
</div>