@(form: Form[HTRCPortal.PasswordReset], user: User, token:String)


@main("PasswordReset", user) {
    <legend>Reset Password</legend>
    @helper.form(routes.HTRCPortal.passwordReset(), 'class -> "form-horizontal") {
        @if(form.hasGlobalErrors) {
            <p class="error">
                @form.globalError.message
            </p>
        }
        @if(flash.contains("success")) {
            <p class="success">
                @flash.get("success")
            </p>
        }

        <input type="hidden" name="token" id="token" value=@token>
        <div class="control-group">
            <label class="control-label" for="newPassword">New Password</label>
            <div class="controls">
                <input type="password" name="newPassword" id="newPassword" placeholder="Password">
            </div>

        </div>
        <div class="control-group">
            <label class="control-label" for="retypePassword">Retype Password</label>
            <div class="controls">
                <input type="password" name="retypePassword" id="retypePassword" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-default">Reset Password</button>
            </div>
        </div>


    }

}