@(user: User, form: Form[HTRCExperimentalAnalysis.CreateVM] , vmDetailsList: List[edu.indiana.d2i.htrc.sloan.bean.VMImageDetails])


@main("Worksets", user) {
    <legend>VM Creation (All fields are required) </legend>
    @helper.form(routes.HTRCExperimentalAnalysis.createVM(), 'class -> "form-horizontal") {
        @if(form.hasGlobalErrors) {
            <p class="error">
                @form.globalError.message
            </p>
        }
        @if(flash.contains("success")) {
            <p class="success">
                @flash.get("success")
            </p>
        }
        <div class="control-group">
            <label for="vmImageName" class="control-label">VM Image</label>
            <div class="controls">
                <select id="vmImageName" name="vmImageName">
                    @for(vm <- vmDetailsList){
                        <option>@vm.getVmImageName</option>
                    }
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for="userName" class="control-label">User Name</label>
            <div class="controls">
                <input type="text" id="userName" name="userName" placeholder="User Name">
            </div>
        </div>
        <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls">
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <label for="confirmPassword" class="control-label">Confirm Password</label>
            <div class="controls">
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <label for="numberOfVCPUs" class="control-label">VCPUs</label>
            <div class="controls">
                <select id="numberOfVCPUs" name="numberOfVCPUs">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for="memory" class="control-label">Memory (GB)</label>
            <div class="controls">
                <select id="memory" name="memory">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-default">Create VM</button>
            </div>
        </div>
    }
}