@(user: User, vmDetailsList: List[edu.indiana.d2i.htrc.sloan.bean.VMStatus])
@import edu.indiana.d2i.htrc.sloan.bean.VMStatus


@main("VMList", user) {
    <meta http-equiv="refresh" content="30">
    <legend>Virtual Machines
        <a href="@routes.HTRCExperimentalAnalysis.createVMForm()" class="btn btn-small pull-right" id="create-vm" style="padding-top: 5px">
            <i class="icon-plus"></i>
        </a>
    </legend>
    @if(vmDetailsList.length > 0){
     <table class="table table-hover">
         <thead>
             <tr>
                 <th><b>Vm Id</b></th>
                 <th><b>Actions</b></th>
             </tr>
         </thead>
         <tbody>
             @for(vm <- vmDetailsList){
                 <tr>
                     <td>
                         <a href="@routes.HTRCExperimentalAnalysis.showVMStatus(vm.getVmId)">
                             @vm.getVmId
                         </a>
                     </td>
                     <td>
                         @if(vm.getState.contains("PENDING")){
                             @vm.getState
                             <img src="@routes.Assets.at("images/7.gif")">
                         } else{
                             @if(vm.getState == "ERROR"){
                                 <span class="label label-important">@vm.getState</span>
                             } else{
                                 @if(vm.getState == "SHUTDOWN"){
                                     <a href="@routes.HTRCExperimentalAnalysis.startVM(vm.getVmId)" class="btn btn-info btn-small" id="startvm">
                                             Start VM
                                     </a>
                                 } else{
                                     <a href="@routes.HTRCExperimentalAnalysis.stopVM(vm.getVmId)" class="btn btn-warning btn-small" id="stopvm">
                                             Stop VM
                                     </a>
                                     @if(vm.getMode == "MAINTENANCE"){
                                         <a href="@routes.HTRCExperimentalAnalysis.switchVMMode(vm.getVmId, "SECURE")" class="btn btn-info btn-small" id="switchmode-maintainance">
                                                 Switch To Security
                                         </a>
                                     } else{

                                         <a href="@routes.HTRCExperimentalAnalysis.switchVMMode(vm.getVmId, "MAINTENANCE")" class="btn btn-info btn-small" id="switchmode-security">
                                                 Switch To Maintenance
                                         </a>
                                     }

                                 }

                             }
                             <a href="@routes.HTRCExperimentalAnalysis.deleteVM(vm.getVmId)" class="btn btn-danger btn-small" id="deletevms" onclick="">
                                 <i class="icon-trash icon-white"></i> Delete VM
                             </a>
                         }

                     </td>
                 </tr>
             }
         </tbody>
     </table>
     } else {
        <p>There are no virtual machines.</p>
     }

     <div class="modal hide fade" id="dlete-vm-modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Delete VM</h3>
        </div>
        <div class="modal-body">
            <p>Do you want to delete VM Id: </p>
        </div>
        <div class="modal-footer">
            <span class="pull-left" style="padding-top: 5px;"><input type="checkbox" id="dont-show" style="margin: -3px 0 0;"> Don't Show This Again.</span>
            <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            <a href="<%=PortalConfiguration.getBlacklightURL()%>" class="btn btn-primary" onclick="goToCreateCollection()">Go</a>
        </div>
    </div>
}