@(user: User, shared: List[Workset], owned: List[Workset], sharedPage: Int, ownedPage: Int, sharedPages: Int,
ownPages: Int, sharedWorksets: Int, ownedWorksets: Int)
@import com.avaje.ebean.PagingList

@main("Worksets", user) {
    <h2> My Worksets (@ownedWorksets) </h2>
    <div class="row-fluid">
        <ul class="thumbnails">
            @for(w <- owned) {
                <li class="span4">
                    <div class="thumbnail" style="padding: 0px;">
                        <div class="caption" style="padding: 0px;">
                            <h3 style="padding: 5px; background-color: #eeeeee">@w.name</h3>
                            <p style="padding: 5px;margin: 0px;">@w.description</p>
                            <table>
                                <tr>
                                    <td style="padding-left: 5px;">Last Modified By:</td>
                                    <td style="padding-right: 5px;">@w.lastModifiedBy</td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 5px;">Last Modified Time:</td>
                                    <td style="padding-right: 5px;">@w.lastModified</td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 5px;">Number of Volumes:</td>
                                    <td style="padding-right: 5px;">@w.numberOfVolumes</td>
                                </tr>
                            </table>
                            <div style="margin-left: 0px; padding-left: 5px; margin-bottom: 5px; margin-top: 7px; border-top: 1px solid #ddd; min-height: 31px; ">
                                <div class="pull-right" style="margin-top: 5px; margin-right: 5px;">
                                    @if(w.shared.==(true)){
                                    <i class="icon-globe"></i>
                                    }
                                    @if(w.shared.==(false)){
                                        <i class="icon-lock"></i>
                                    }

                                <a href="#" class="btn btn-small">Edit</a>
                                <a href="#" class="btn btn-small btn-primary">Open</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div id="owner-pagination" class="pagination pull-right">
            <ul>
                <li style="padding-right: 5px;">
                    <a href="@routes.HTRCPortal.listWorkset(sharedPage, 0)">&#8676</a>
                </li>
                <li>
                    <a href="@routes.HTRCPortal.listWorkset(sharedPage, ownedPage -1)">&larr;</a>
                </li>

                <li ><a href="@routes.HTRCPortal.listWorkset(sharedPage, ownedPage+1)">&rarr;</a>
                </li>
                <li style="padding-left: 5px;">
                    <a href="@routes.HTRCPortal.listWorkset(sharedPage, ownPages - 1)">&#8677</a>
                </li>

            </ul>
        </div>

    </div>
    <h2> Public Worksets (@sharedWorksets) </h2>
    <div class="row-fluid">
        <ul class="thumbnails">
            @for(w <- shared) {
                <li class="span4">
                <div class="thumbnail" style="padding: 0px;">
                <div class="caption" style="padding: 0px;">
                <h3 style="padding: 5px; background-color: #eeeeee">@w.name</h3>
                <p style="padding: 5px;margin: 0px;">@w.description</p>
                <table>
                <tr>
                <td style="padding-left: 5px;">Last Modified By:</td>
                <td style="padding-right: 5px;">@w.lastModifiedBy</td>
                </tr>
                <tr>
                <td style="padding-left: 5px;">Last Modified Time:</td>
                <td style="padding-right: 5px;">@w.lastModified</td>
                </tr>
                <tr>
                <td style="padding-left: 5px;">Number of Volumes:</td>
                <td style="padding-right: 5px;">@w.numberOfVolumes</td>
                </tr>
                </table>
                <div style="margin-left: 0px; padding-left: 5px; margin-bottom: 5px; margin-top: 7px; border-top: 1px solid #ddd; min-height: 31px; ">
                <div class="pull-right" style="margin-top: 5px; margin-right: 5px;">
                <a href="#" class="btn btn-small">Edit</a>
                <a href="#" class="btn btn-small btn-primary">Open</a>
                </div>

                </div>
                </div>
                </div>
                </li>
            }
        </ul>
        <div id="public-pagination" class="pagination pull-right">
            <ul>
                <li style="padding-right: 5px;">
                    <a href="@routes.HTRCPortal.listWorkset(0, ownedPage)">&#8676</a>
                </li>
                <li>
                    <a href="@routes.HTRCPortal.listWorkset(sharedPage-1, ownedPage)">&larr;</a>
                </li>

                <li ><a href="@routes.HTRCPortal.listWorkset(sharedPage+1, ownedPage)">&rarr;</a>
                </li>
                <li style="padding-left: 5px;">
                    <a href="@routes.HTRCPortal.listWorkset(sharedPages-1, ownedPage)">&#8677</a>
                </li>

            </ul>
        </div>
    </div>
}


