@(user: User, shared: List[Workset], owned: List[Workset], sharedPage: Int, ownedPage: Int, sharedPages: Int,
ownPages: Int, sharedWorksets: Int, ownedWorksets: Int)
@import com.avaje.ebean.PagingList
@import edu.indiana.d2i.htrc.portal.Utils

@main("Worksets", user) {
    <h2 style="border-bottom: 1px solid #ccc; margin: 25px 0;"> My Worksets (@ownedWorksets) </h2>
    <style>
            .tooltip-inner {background-color: #D18913; color: #fff; max-width: 350px;}

            .tooltip.top .tooltip-arrow {border-top-color: #D18913;}

    </style>
    <div class="row-fluid">
        <ul class="thumbnails">
            @for((w, idx) <- owned.zipWithIndex) {
                @if(idx == 0 || idx == 1 || idx == 2){
                    <li class="span4">
                        <div class="thumbnail" style="padding: 0px;">
                            <div class="caption" style="padding: 0px;">
                                <h3 class="tooltiped" data-toggle="tooltip" data-placement="top" title="" data-original-title="@w.name" style="padding: 5px; background-color: #ccc">@Utils.shortenTitle(w.name)
                                    <span class="pull-right">
                                        @if(w.shared.==(true)) {
                                            <i class="icon-globe"></i>
                                        }
                                        @if(w.shared.==(false)) {
                                            <i class="icon-lock"></i>
                                        }
                                    </span>
                                </h3>
                                <p style="padding: 5px;margin: 0px;">@w.description</p>
                                <table>
                                    <tr>
                                        <td style="padding-left: 5px; font-weight: 600;">Last Modified By:</td>
                                        <td style="padding-right: 5px;">@w.lastModifiedBy</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 5px; font-weight: 600;">Last Modified Time:</td>
                                        <td style="padding-right: 5px;">@w.lastModified</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 5px; font-weight: 600;">Number of Volumes:</td>
                                        <td style="padding-right: 5px;">@w.numberOfVolumes</td>
                                    </tr>
                                </table>
                                <div style="margin-left: 0px; padding-left: 5px; margin-bottom: 5px; margin-top: 7px; border-top: 1px solid #ddd; min-height: 31px; ">
                                    <div class="pull-right" style="margin-top: 5px; margin-right: 5px;">
                                    <a href="#" class="btn btn-small disabled">Edit</a>
                                    <a href="@routes.WorksetManagement.viewWorkset(w.name,w.author)" class="btn btn-small btn-primary">Open</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="row-fluid">
        @for((w, idx) <- owned.zipWithIndex) {
            @if(idx == 3 || idx == 4 || idx == 5) {
                <li class="span4">
                    <div class="thumbnail" style="padding: 0px;">
                        <div class="caption" style="padding: 0px;">
                            <h3 class="tooltiped" data-toggle="tooltip" data-placement="top" title="" data-original-title="@w.name" style="padding: 5px; background-color: #ccc"> @Utils.shortenTitle(w.name)
                                <span class="pull-right">
                                @if(w.shared.==(true)) {
                                    <i class="icon-globe"></i>
                                }
                                @if(w.shared.==(false)) {
                                    <i class="icon-lock"></i>
                                }
                                </span>
                            </h3>
                            <p style="padding: 5px;margin: 0px;"> @w.description </p>
                            <table>
                                <tr>
                                    <td style="padding-left: 5px; font-weight: 600;"> Last Modified By: </td>
                                    <td style="padding-right: 5px;"> @w.lastModifiedBy </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 5px; font-weight: 600;"> Last Modified Time: </td>
                                    <td style="padding-right: 5px;"> @w.lastModified </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 5px; font-weight: 600;"> Number of Volumes: </td>
                                    <td style="padding-right: 5px;"> @w.numberOfVolumes </td>
                                </tr>
                            </table>
                            <div style="margin-left: 0px; padding-left: 5px; margin-bottom: 5px; margin-top: 7px; border-top: 1px solid #ddd; min-height: 31px; ">
                                <div class="pull-right" style="margin-top: 5px; margin-right: 5px;">


                                    <a href="#" class="btn btn-small disabled"> Edit </a>
                                    <a href="@routes.WorksetManagement.viewWorkset(w.name, w.author)" class="btn btn-small btn-primary"> Open </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            }
        }
    </div>
    <div class="row-fluid">
        @paginatedowned(ownedPage, ownPages, sharedPage)
    </div>
    <h2 style="border-bottom: 1px solid #ccc; margin: 25px 0;"> Public Worksets (@sharedWorksets)</h2>
    <div class="row-fluid">
        <ul class="thumbnails">
            @for((w, idx) <- shared.zipWithIndex) {
                @if(idx == 0 || idx == 1 || idx == 2){
                    <li class="span4">
                        <div class="thumbnail" style="padding: 0px;">
                            <div class="caption" style="padding: 0px;">
                                <h3 class="tooltiped" data-toggle="tooltip" data-placement="top" title="" data-original-title="@w.name" style="padding: 5px; background-color: #ccc"> @Utils.shortenTitle(w.name)
                                @*<span class="pull-right">*@
                                    @*@if(w.shared.==(true)) {*@
                                        @*<i class="icon-globe"></i>*@
                                    @*}*@
                                    @*@if(w.shared.==(false)) {*@
                                        @*<i class="icon-lock"></i>*@
                                    @*}*@
                                @*</span>*@
                                </h3>
                                <p style="padding: 5px;margin: 0px;"> @w.description </p>
                                <table>
                                    <tr>
                                        <td style="padding-left: 5px;"> Author: </td>
                                        <td style="padding-right: 5px;"> @w.author </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 5px;"> Last Modified By: </td>
                                        <td style="padding-right: 5px;"> @w.lastModifiedBy </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 5px;"> Last Modified Time: </td>
                                        <td style="padding-right: 5px;"> @w.lastModified </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 5px;"> Number of Volumes: </td>
                                        <td style="padding-right: 5px;"> @w.numberOfVolumes </td>
                                    </tr>
                                </table>
                                <div style="margin-left: 0px; padding-left: 5px; margin-bottom: 5px; margin-top: 7px; border-top: 1px solid #ddd; min-height: 31px; ">
                                    <div class="pull-right" style="margin-top: 5px; margin-right: 5px;">
                                        <a href="#" class="btn btn-small disabled"> Edit </a>
                                        <a href="@routes.WorksetManagement.viewWorkset(w.name,w.author)" class="btn btn-small btn-primary"> Open </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>

    </div>
    <div class="row-fluid">
        <ul class="thumbnails">
            @for((w, idx) <- shared.zipWithIndex) {
                @if(idx == 3 || idx == 4 || idx == 5){
                    <li class="span4">
                        <div class="thumbnail" style="padding: 0px;">
                            <div class="caption" style="padding: 0px;">
                                <h3 class="tooltiped" data-toggle="tooltip" data-placement="top" title="" data-original-title="@w.name" style="padding: 5px; background-color: #ccc"> @Utils.shortenTitle(w.name)
                                    @*<span class="pull-right">*@
                                        @*@if(w.shared.==(true)) {*@
                                            @*<i class="icon-globe"></i>*@
                                        @*}*@
                                        @*@if(w.shared.==(false)) {*@
                                            @*<i class="icon-lock"></i>*@
                                        @*}*@
                                    @*</span>*@
                                </h3>
                                <p style="padding: 5px;margin: 0px;"> @w.description </p>
                                <table>
                                    <tr>
                                        <td style="padding-left: 5px;"> Author: </td>
                                        <td style="padding-right: 5px;"> @w.author </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 5px;"> Last Modified By: </td>
                                        <td style="padding-right: 5px;"> @w.lastModifiedBy </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 5px;"> Last Modified Time: </td>
                                        <td style="padding-right: 5px;"> @w.lastModified </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 5px;"> Number of Volumes: </td>
                                        <td style="padding-right: 5px;"> @w.numberOfVolumes </td>
                                    </tr>
                                </table>
                                <div style="margin-left: 0px; padding-left: 5px; margin-bottom: 5px; margin-top: 7px; border-top: 1px solid #ddd; min-height: 31px; ">
                                    <div class="pull-right" style="margin-top: 5px; margin-right: 5px;">
                                        <a href="#" class="btn btn-small disabled"> Edit </a>
                                        <a href="@routes.WorksetManagement.viewWorkset(w.name,w.author)" class="btn btn-small btn-primary"> Open </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>

    </div>

    <div class="row-fluid">
        @paginateshared(sharedPage, sharedPages, ownedPage)
    </div>

    <script type="text/javascript">
            $(".tooltiped").tooltip();
    </script>
}


