@(userId: String)

@main("About", userId) {
    <div class="container container-panel">
        <h4 style="font-size: 30px; line-height: 1;">Overview</h4>
        <p>The HathiTrust Research Center (HTRC) enables computational
            access for nonprofit and educational users to published works in the
            public domain and, in the future, on limited terms to works
            in-copyright from the HathiTrust.
        </p>
        <p>The HTRC is a collaborative research center launched jointly by
            Indiana University and the University of Illinois, along with the
            HathiTrust Digital Library, to help meet the technical challenges of
            dealing with massive amounts of digital text that researchers face by
            developing cutting-edge software tools and cyberinfrastructure to
            enable advanced computational access to the growing digital record of
            human knowledge.
        </p>
        <p>
                Leveraging data storage and computational infrastructure at Indiana
                University and the University of Illinois at Urbana-Champaign, the
                HTRC will provision a secure computational and data environment for
                scholars to perform research using the HathiTrust Digital Library.
                The center will break new ground in the areas of text mining and
                non-consumptive research, allowing scholars to fully utilize content
                of the HathiTrust Library while preventing intellectual property
                misuse within the confines of current U.S. copyright law.
        </p>
        <br>
        <a href="  http://www.hathitrust.org/htrc"> Click for more
            information</a>
    </div>
}