@(form: Form[UserManagement.AccountRequest], user: User, firstName: String, lastName: String, email: String, message: String)


@main("AccountRequestMail", user) {
    <div class="container">
        <div class="panel panel-default panel-htrc">
            <div class="panel-heading">
                <strong>Account Request</strong>
            </div>
            <div class="panel-body">
                <p>@message</p>
                @helper.form(routes.UserManagement.accountRequest(), 'class -> "form-horizontal") {
                    @if(form.hasGlobalErrors) {
                        <p class="error">
                        @form.globalError.message
                        </p>
                    }
                    @if(flash.contains("success")) {
                        <p class="success">
                        @flash.get("success")
                        </p>
                    }
                    <div class="form-group">
                        <label for="firstName" class="col-sm-3 control-label">First Name :</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control"  id="firstName" name="firstName" placeholder="First Name" required="true" class="span3" value="@firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-3 control-label">Last Name :</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required="true" class="span3" value="@lastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">Email :</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required="true" class="span3" value="@email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="institution" class="col-sm-3 control-label">Institution/Employer :</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="institution" name="institution" placeholder="" required="true" class="span3" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="motivation" class="col-sm-3 control-label">Purpose/Motivation :</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="motivation" name="motivation" placeholder="" required="true" class="span3" value=""></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}