@(user: User, algorithmdetails: edu.indiana.d2i.htrc.portal.bean.AlgorithmDetailsBean,
        parameters: List[edu.indiana.d2i.htrc.portal.bean.AlgorithmDetailsBean.Parameter], userWorksetlist: List[edu.illinois.i3.htrc.registry.entities.workset.Workset],
        allWorksetlist: List[edu.illinois.i3.htrc.registry.entities.workset.Workset], form: Form[AlgorithmManagement.SubmitJob], message: String)
@import edu.indiana.d2i.htrc.portal.bean.AlgorithmDetailsBean


@main("Algorithm", user) {
    <div class="container">
        <div class="panel panel-default panel-htrc">
            <div class="panel-heading">
                <strong>@algorithmdetails.getName</strong>
            </div>
            <div class="panel-body">
                @if(message != null){
                    <p class="error">@message</p>
                }
            @helper.form(routes.AlgorithmManagement.submitAlgorithm()) {
                @if(form.hasGlobalErrors) {
                    <p class="error">
                    @form.globalError.message
                    </p>
                }
                @if(flash.contains("success")) {
                    <p class="success">
                    @flash.get("success")
                    </p>
                }
                <input type="hidden" name="userName" value="@user.userId">
                <input type="hidden" name="algorithmName" value="@algorithmdetails.getName"/>
                <table>
                    <tr>
                        <td style="min-width: 100px;"><b>Description:  </b></td>
                        <td>@algorithmdetails.getDescription</td>
                    </tr>
                    <tr>
                        <td><b>Version:</b></td>
                        <td>@algorithmdetails.getVersion</td>
                    </tr>
                    <tr>
                        <td><b>Author:</b></td>
                        <td>
                        @if(algorithmdetails.getAuthors.size() > 1) {
                            @for(au <- algorithmdetails.getAuthors) {
                                @au ,
                            }
                        } else {
                            @algorithmdetails.getAuthors.get(0)
                        }
                        </td>
                    </tr>
                </table>
                <div id="jobname-control-group" class="form-group has-feedback" style="margin-top : 10 px ;">
                    <label for="jobName">Please enter a job name: (required)</label>
                    <input type="text" name="jobName" required="required" id="jobName" class="form-control" aria-describedby="jobname-feedback-status">
                    <span id="jobname-feedback" class="form-control-feedback" aria-hidden="true"></span>
                    <span id="jobname-feedback-status" class="sr-only">(success)</span>
                    <span id="jobname-warn-block" class="help-block warn-block"></span>
                </div>
                <script type="text/javascript">
                    function selectMyWorksets(n) {
                        return function(){
                            document.getElementById("myWorksetsMenu" + n).style.display="block";
                            document.getElementById("allWorksetsMenu" + n).style.display="none";
                            setJobName(n);
                        }
                    }

                    function selectAllWorksets(n) {
                        return function(){
                            document.getElementById("allWorksetsMenu" + n).style.display="block";
                            document.getElementById("myWorksetsMenu" + n).style.display="none";
                            setJobName(n);
                        }
                    }
                </script>
                @for((pm, id) <- parameters.zipWithIndex) {
                    <div class="form-group">
                        <input type="hidden" name="parameters[@{
                            parameters.indexOf(pm) + 1
                        }].paramName" value="@pm.getName"/>
                        <input type="hidden" name="parameters[@{
                            parameters.indexOf(pm) + 1
                        }].paramType" value="@pm.getType"/>
                        <input type="hidden" name="parameters[@{
                            parameters.indexOf(pm) + 1
                        }].paramRequired" value="@pm.isRequired"/>
                        <label for="paramInput@id">@pm.getLabel
                            @if(pm.isRequired) {
                                (required)
                            }else {
                                (optional)
                            }
                        </label>
                        @if(pm.getType == "collection") {
                            <div class="row">
                                <div class="span5">
                                    <input type="radio" name="worksetsCollection@parameters.indexOf(pm)" id="myWorksetsCollection@parameters.indexOf(pm)" checked value="myworksets"> Select a workset from my worksets
                                </div>
                                <div class="span5">
                                    <input type="radio" name="worksetsCollection@parameters.indexOf(pm)" id="allWorksetsCollection@parameters.indexOf(pm)" value="allworksets"> Select a workset from all worksets
                                </div>
                            </div>
                            <select name="myWorksetsMenu@parameters.indexOf(pm)" id="myWorksetsMenu@parameters.indexOf(pm)" class="form-control"  style='display:block;' onchange="setJobName(@parameters.indexOf(pm))">
                                @*<option selected>Select a workset from my worksets</option>*@
                                @for(ws <- userWorksetlist){
                                    <option>@WorksetManagement.getWorksetWithAuthor(ws.getMetadata.getName,ws.getMetadata.getAuthor)</option>
                                }

                            </select>
                            <select name="allWorksetsMenu@parameters.indexOf(pm)" id="allWorksetsMenu@parameters.indexOf(pm)" class="form-control"  style='display:none;' onchange="setJobName(@parameters.indexOf(pm))">
                                @*<option selected>Select a workset from all worksets</option>*@
                                @for(ws <- allWorksetlist){
                                    <option>@WorksetManagement.getWorksetWithAuthor(ws.getMetadata.getName,ws.getMetadata.getAuthor)</option>
                                }

                            </select>

                            <script type="text/javascript">
                                document.getElementById("myWorksetsCollection@parameters.indexOf(pm)").onclick = selectMyWorksets(@parameters.indexOf(pm));
                                document.getElementById("allWorksetsCollection@parameters.indexOf(pm)").onclick = selectAllWorksets(@parameters.indexOf(pm));
                            </script>

                        } else {
                            @if(pm.getType == "boolean") {
                                <select name="parameters[@{
                                    parameters.indexOf(pm) + 1
                                }].paramValue" id="paramInput@id" class="form-control">
                                    <option> True </option> <option> False </option>
                                </select>
                            } else {
                                @if(pm.isRequired) {

                                    <input type="text" name="parameters[@{
                                        parameters.indexOf(pm) + 1
                                    }].paramValue" required="required" value="@pm.getDefaultValue" id="paramInput@id" class="form-control">

                                } else {

                                    <input type="text"  name="parameters[@{
                                        parameters.indexOf(pm) + 1
                                    }].paramValue" value="@pm.getDefaultValue" id="paramInput@id" class="form-control">

                                }
                            }
                        }
                        <p>@pm.getDescription</p>
                    </div>
                }

                <button type="submit" class="btn btn-primary btn-xs pull-left" id="job-submit">Submit</button>



            }
            </div>
        </div>
    </div>
   <script type="text/javascript">
       function setJobName(index){
                var typeOfWorksets = $("input[type=radio]:checked").val();
                var currentTime = new Date();
                var d = new Date(currentTime),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear(),
                time = d.getHours()+":"+('0' + d.getMinutes()).slice(-2)+":"+('0' + d.getSeconds()).slice(-2);

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                if(index == null){
                    if(typeOfWorksets == "myworksets"){
                        document.getElementById("jobName").value = document.getElementsByTagName("select")[0].value.substring(0,20) + "::" + "@algorithmdetails.getName".substring(0,12) + "::" + time;
                        jobNameInputKeyUp();
                    }
                    if(typeOfWorksets == "allworksets"){
                        document.getElementById("jobName").value = document.getElementsByTagName("select")[1].value.substring(0,20) + "::" + "@algorithmdetails.getName".substring(0,12) + "::" + time;
                        jobNameInputKeyUp();
                    }
                }

                if (document.getElementById("myWorksetsCollection" + index).checked){
                    document.getElementById("jobName").value = document.getElementById("myWorksetsMenu" + index).value.substring(0,20)+ "::" + "@algorithmdetails.getName".substring(0,12) + "::" + time;
                    jobNameInputKeyUp();
                }
                if (document.getElementById("allWorksetsCollection" + index).checked){
                    document.getElementById("jobName").value = document.getElementById("allWorksetsMenu" + index).value.substring(0,20)+ "::" + "@algorithmdetails.getName".substring(0,12) + "::" + time;
                    jobNameInputKeyUp();
                }

       }




    </script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jobsubmit.js")"></script>



    }
