@(userId: String, algorithms: List[edu.indiana.d2i.htrc.portal.bean.AlgorithmDetailsBean])
@import edu.indiana.d2i.htrc.portal.Utils


@main("Algorithms", userId) {
    <div class="container">
        <div class="panel panel-default panel-htrc panel-with-table">
            <div class="panel-heading">
                <strong>Algorithms</strong>
            </div>
            <div class="panel-body">
                <table class="table" id="algorithms">
                    <thead>
                        <tr>
                            <th data-sort="int">#<i class="fa fa-sort arrow"></i></th>
                            <th data-sort="string">Name<i class="fa fa-sort arrow"></i></th>
                            <th id="description">Description</th>
                            <th data-sort="string">Author<i class="fa fa-sort arrow"></i></th>
                            <th data-sort="float">Version<i class="fa fa-sort arrow"></i></th>
                            <th id="action"></th>
                        </tr>
                    </thead>
                    <tbody>
                    @for((w, id) <- algorithms.zipWithIndex){
                        <tr>
                            <td>@(id + 1)</td>
                            <td style="max-width: 400px; word-wrap: break-word"><a href="@routes.AlgorithmManagement.viewAlgorithm(w.getName," ")">@w.getName</a></td>
                            <td><div class=" algo-text-content short-text" style="max-width: 400px; word-wrap: break-word">@Html(Utils.markdownToHtml(w.getDescription))</div>
                                <div class="show-more"><a href="#">Show more</a></div></td>
                            <td>
                                @if(w.getAuthors.size() > 1){
                                    @for(au <- w.getAuthors){
                                        @au,
                                    }
                                }else{
                                    @w.getAuthors.get(0)
                                }
                            </td>

                            <td>@w.getVersion</td>
                            <td><a href="@routes.AlgorithmManagement.viewAlgorithm(w.getName," ")" class="btn btn-xs btn-primary" title="Execute the algorithm: @w.getName">Execute</a> </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(".show-more a").each(function() {
    var $link = $(this);
    var $content = $link.parent().prev("div.algo-text-content");
    console.log($link);

    var visibleHeight = $content[0].clientHeight;
    var actualHide = $content[0].scrollHeight - 1;

    console.log(actualHide);
    console.log(visibleHeight);

    if (actualHide > visibleHeight) {
    $link.show();
    } else {
    $link.hide();
    }
    });

    $(".show-more a").on("click", function() {
    var $link = $(this);
    var $content = $link.parent().prev("div.algo-text-content");
    var linkText = $link.text();

    $content.toggleClass("short-text, full-text");

    $link.text(getShowLinkText(linkText));

    return false;
    });

    function getShowLinkText(currentText) {
    var newText = '';

    if (currentText.toUpperCase() === "SHOW MORE") {
    newText = "Show less";
    } else {
    newText = "Show more";
    }

    return newText;
    }

    /* table sorting */
    var table = $("#algorithms").stupidtable();
    table.bind('aftertablesort', function (event, data) {
    // data.column - the index of the column sorted after a click
    // data.direction - the sorting direction (either asc or desc)

    var th = $(this).find("th");
    th.find(".arrow").remove();
    var arrow = data.direction === "asc" ? '<i class="arrow fa fa-sort-asc"></i>' : '<i class="arrow fa fa-sort-desc"></i>';
    th.append('<i class="arrow fa fa-sort"></i>');
    th.eq(data.column).find(".arrow").remove();
    $("#description").find(".arrow").remove();
    $("#action" ).find(".arrow" ).remove();
    th.eq(data.column).append(arrow);
    });

    </script>
}