@(user: User, algorithms: List[edu.indiana.d2i.htrc.portal.bean.AlgorithmDetailsBean])


@main("Algorithms", user) {
    <div class="container">
        <div class="panel panel-default panel-htrc panel-with-table">
            <div class="panel-heading">
                <strong>Algorithms</strong>

            </div>
            <div class="panel-body">
                <table class="table" id="worksets">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th data-sort="string">Name</th>
                            <th>Description</th>
                            <th data-sort="string">Author</th>
                            <th data-sort="int">Version</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for((w, id) <- algorithms.zipWithIndex){
                        <tr>
                            <td>@(id + 1)</td>
                            <td>@w.getName</td>
                            <td>@w.getDescription</td>
                            <td>@w.getAuthors</td>
                            <td>@w.getVersion</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}