@(user: User, algorithmdetails: edu.indiana.d2i.htrc.portal.bean.AlgorithmDetailsBean,
        parameters: List[edu.indiana.d2i.htrc.portal.bean.AlgorithmDetailsBean.Parameter], worksetlist: List[edu.illinois.i3.htrc.registry.entities.workset.Workset], form: Form[AlgorithmManagement.SubmitJob])
@import edu.indiana.d2i.htrc.portal.bean.AlgorithmDetailsBean


@main("Algorithm", user) {
    <div class="container">
        <div class="panel panel-default panel-htrc">
            <div class="panel-heading">
                <strong>@algorithmdetails.getName</strong>
            </div>
            <div class="panel-body">
            @helper.form(routes.AlgorithmManagement.submitAlgorithm()) {
                @if(form.hasGlobalErrors) {
                    <p class="error">
                    @form.globalError.message
                    </p>
                }
                @if(flash.contains("success")) {
                    <p class="success">
                    @flash.get("success")
                    </p>
                }
                <input type="hidden" name="userName" value="@user.id">
                <input type="hidden" name="algorithmName" value="@algorithmdetails.getName"/>
                <table>
                    <tr>
                        <td style="min-width: 100px;"><b>Description:  </b></td>
                        <td>@algorithmdetails.getDescription</td>
                    </tr>
                    <tr>
                        <td><b>Version:</b></td>
                        <td>@algorithmdetails.getVersion</td>
                    </tr>
                    <tr>
                        <td><b>Author:</b></td>
                        <td>
                        @if(algorithmdetails.getAuthors.size() > 1) {
                            @for(au <- algorithmdetails.getAuthors) {
                                @au ,
                            }
                        } else {
                            @algorithmdetails.getAuthors.get(0)
                        }
                        </td>
                    </tr>
                </table>
                <div id="param" class="form-group" style="margin-top : 10 px ;">
                    <label for="jobName">Please enter a job name: (required)</label>
                    <input type="text" name="jobName" required="true" id="jobName" class="form-control">
                </div>
                @for((pm, id) <- parameters.zipWithIndex) {
                    <div class="form-group">
                        <input type="hidden" name="parameters[@{
                            parameters.indexOf(pm) + 1
                        }].paramName" value="@pm.getName"/>
                        <input type="hidden" name="parameters[@{
                            parameters.indexOf(pm) + 1
                        }].paramType" value="@pm.getType"/>
                        <label for="paramInput@id">@pm.getLabel
                            @if(pm.isRequired) {
                                (required)
                            }else {
                                (optional)
                            }
                        </label>
                        @if(pm.getType == "collection") {

                            <select name="parameters[@{
                                parameters.indexOf(pm) + 1
                            }].paramValue" id="paramInput@id" class="form-control">
                            @for(ws <- worksetlist) {
                                <option>@WorksetManagement.getWorksetWithAuthor(ws.getMetadata.getName, ws.getMetadata.getAuthor)</option>
                            }
                            </select>
                        } else {
                            @if(pm.getType == "boolean") {
                                <select name="parameters[@{
                                    parameters.indexOf(pm) + 1
                                }].paramValue" id="paramInput@id" class="form-control">
                                    <option> True </option> <option> False </option>
                                </select>
                            } else {
                                @if(pm.isRequired) {

                                    <input type="text" name="parameters[@{
                                        parameters.indexOf(pm) + 1
                                    }].paramValue" required="true" value="@pm.getDefaultValue" id="paramInput@id" class="form-control">

                                } else {

                                    <input type="text"  name="parameters[@{
                                        parameters.indexOf(pm) + 1
                                    }].paramValue" value="@pm.getDefaultValue" id="paramInput@id" class="form-control">

                                }
                            }
                        }
                        <p>@pm.getDescription</p>
                    </div>
                }

                <button type="submit" class="btn btn-primary btn-xs pull-left">Submit</button>

            }
            </div>
        </div>
    </div>

}
