@(t: Throwable, user: User)


@main("Internal Server Error", user) {
    <div class="container container-panel" style="padding-top : 15 px ; padding-bottom : 15 px ;">
        <h2 style="color: maroon; text-align: center;">
            Oops, it looks like something went wrong and a problem has occurred.
            @*Oops, looks like something went wrong. It's not you. It's us.*@
        </h2>
        <p style="text-align: center;">If you would like to help, please report what you were doing just before
            the problem to our support email <a href="mailto:htrc-tech-help-l@@iu.edu">htrc-tech-help-l@@iu.edu</a></p>
    </div>
}