@(user: User)

@main("Extracted Features Dataset", user) {

  <!-- Highlight.js -->
  <link rel="stylesheet" href="css/highlight.default.css">
  <script src="js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <div class="container container-panel">
    <div class="row-fluid">
      <div class="span12">
        <!--START INTRO-->

        <h1 id="page-level-features-from-the-htrc">Features extracted from the HTRC</h1>



        <p class="text-info">Note that this is an <strong>alpha</strong> data release. Please send feedback to <span class="contact">(Need javascript to show)</span>.</p>


        <p>A great deal of fruitful research can be performed using non-consumptive pre-extracted features. For this reason, HTRC has put together a select set of page-level features extracted from the HathiTrust's non-Google-digitized public domain volumes. The source texts for this set of feature files are primarily in English.</p>
        <p><em>Features</em> are notable or informative characteristics of the text. We have processed a number of useful features, including part-of-speech tagged token counts, header and footer identification, and various line-level information. This is all provided <em>per-page</em>. Providing token information at the page level makes it possible to separate text from paratext. (An example of the latter may be: thirty pages of publishers’ ads at the back of a book). We have also decided to break each page into a collection of three parts: header, body, and footer. The specific features that we extract from the text are described in more detail below.</p>
        <p>The primary pre-calculated feature that we are providing is the token (unigram) count, on a per-page basis. Token counts are specific to the part-of-speech usage for that token's term, so that a term used as both a noun and a verb, for example, will have a separate count provided for each of these two modalities of its use. We also include line information, such as the number of lines with text on each page, and counts of characters that start and end lines on each page. This information can illuminate genre and volume structure: for instance, it helps distinguish poetry from prose, or body text from an index.</p>
        <p>The present release is an alpha release, and we would love to hear about how you use it, or what else you would like to see!</p>
        <p>Review <a href="#sample">sample data</a> or jump straight to the <a href="#downloads">downloads</a>.</p>


      </div> <!-- END intro col -->
    </div>
    <div class="row-fluid">
      <div class="col-md-6">
        <h2 id="sample">Sample JSON</h2>
        <pre><code class="json">
          {
            "id":"loc.ark:/13960/t1fj34w02",
            "metadata":{
              "schemaVersion":"1.0",
              "title":"Shakespeare's Romeo and Juliet,",
              "pubDate":1920,
              "htBibUrl":"http://catalog.hathitrust.org/api/volumes/full/htid/loc.ark:/13960/t1fj34w02",
              "dateCreated":"2014-05-01T09:42",
              "handleUrl":"http://hdl.handle.net/2027/loc.ark:/13960/t1fj34w02",
              "oclc":"",
              "language":"eng",
              "imprint":"Chicago, Scott Foresman and company, [c1920]"
            },
            "features":{
              "schemaVersion":"1.0",
              "dateCreated":"2014-05-01T02:15",
              "pageCount":230,
              "pages":[
              {
                "seq":15,
                "tokenCount":212,
                "lineCount":38,
                "emptyLineCount":10,
                "sentenceCount":7,
                "header":{
                  "tokenCount":1,
                  "lineCount":1,
                  "emptyLineCount":0,
                  "sentenceCount":1,
                  "tokens":{
                    "INTRODUCTION":{ "NN":1 }
                  },
                  "beginLineChars":{ "I":1 },
                  "endLineChars":{ "N":1 }
                },
                "body":{
                  "tokenCount":211,
                  "lineCount":37,
                  "emptyLineCount":10,
                  "sentenceCount":6,
                  "tokens":{
                    "priests":{ "NNS":1 },
                    "development":{ "NN":1 },
                    "extraordinary":{ "JJ":1 },
                    "striking":{ "JJ":1 },
                    "ceremonial":{ "NN":1 },
                    "which":{ "WDT":3 },
                    "sprang":{ "VBD":1 },
                    ".":{ ".":7 },
                    ",":{ ",":10 },
                    "1600":{ "CD":1 },
                    …,
                    "growth":{ "NN":1 }
                  },
                  "beginLineChars":{
                    "f":2, "d":2, "b":2, …,"S":1
                  },
                  "endLineChars":{
                    "f":1, "g":2, "d":2, …, "r":1
                  }
                },
                "footer":{
                  "tokenCount":0,
                  "lineCount":0,
                  "emptyLineCount":0,
                  "sentenceCount":0,
                  "tokens":{ },
                  "beginLineChars":{ },
                  "endLineChars":{ }
                }
              }
              ]
            }
          }


        </code></pre>
      </div> <!-- End example JSON column -->
      <div class="col-md-6">
        <!-- START DOCUMENTATION -->


        <h2 id="documentation">Documentation</h2>
        <p>The extracted features data is provided in JSON form.</p>
        <h3 id="volume">Volume</h3>
        <p>The volume represents the current work (e.g. book) as represented in the HathiTrust index.</p>
        <p><strong>id</strong>: A unique identifier for the current volume. This is the same identifier used in the HathiTrust and HathiTrust Research Center corpora.</p>
        <h3 id="metadata">Metadata</h3>
        <p>A small amount of bibliographic metadata for identifying the volume is included in this dataset. See also: <a href="#metadata">“Where can I find detailed bibliographic metadata?”</a>.</p>
        <p><strong>schemaVersion</strong>: A version identifier for the format and structure of this metadata object. <em>metadata.schemaVersion</em> is separate from <em>features.schemaVersion</em> below.</p>
        <p><strong>dateCreated</strong>: The time this metadata object was processed. <em>metadata.dateCreated</em> is not necessarily the same as the <em>features.dataCreated</em> below.</p>
        <p><strong>title</strong>: Title of the given volume.</p>
        <p><strong>pubDate</strong>: The publication year.</p>
        <p><strong>language</strong>: The primary language of the given volume.</p>
        <p><strong>htBibUrl</strong>: The HathiTrust Bibliographic API call for the volume.</p>
        <p><strong>handleUrl</strong>: The persistent identifier for the given volume.</p>
        <p><strong>oclc</strong>: The array of <a href="https://oclc.org/en-US/home.html">OCLC</a> number(s).</p>
        <p><strong>imprint</strong>: The publication place, publisher, and publication date of the given volume.</p>
        <h3 id="features">Features</h3>
        <p>The features extracted from the content of the volume.</p>
        <p><strong>schemaVersion</strong>: A version identifier for the format and structure of the feature data (HTRC generated).</p>
        <p><strong>dateCreated</strong>: The time the batch of metadata was processed and recorded (HTRC generated).</p>
        <p><strong>pageCount</strong>: The number of pages in the volume.</p>
        <p><strong>pages</strong>: An array of JSON objects, each representing a page of the volume.</p>
        <h3 id="page">Page</h3>
        <p>Pages are contained within volumes, they have a sequence number, and information about their header, body, and footer.</p>
        <h4 id="page-level-information">Page-level information</h4>
        <p><strong>seq</strong>: The sequence number. <a href="#page-id">See notes on ID usage</a>.</p>
        <p><strong>tokenCount</strong>: The total number of tokens in the page.</p>
        <p><strong>lineCount</strong>: The total number of non-empty lines in the page.</p>
        <p><strong>emptyLineCount</strong>: The total number of empty lines in the page.</p>
        <p><strong>sentenceCount</strong>: Total number of sentences identified in the page using OpenNLP. <a href="#sentence-parse">Details on parsing</a>.</p>
        <h4 id="header-body-and-footer-information">Header, Body, and Footer information</h4>
        <p>The fields for <em>header</em>, <em>body</em>, and <em>footer</em> are the same, but apply to different parts of the page. <a href="#header-q">Read about the differences between the sections</a>.</p>
        <p><strong>tokenCount</strong>: The total number of tokens in this page section.</p>
        <p><strong>lineCount</strong>: The number of lines containing characters of any kind in this page section. This represents the layout of the page, for sentence counts, see the <em>sentenceCount</em> field.</p>
        <p><strong>emptyLineCount</strong>: The number of lines without text in this page section.</p>
        <p><strong>sentenceCount</strong>: The number of sentences found in the text in this page section, parsed using OpenNLP.</p>
        <p><strong>tokens</strong>: An unordered list of all tokens in this page section characterized by part of speech using OpenNLP. Tokens are case-sensitive. There will be separate counts, for instance, for “rose” (noun) and “rose” (verb), while a capitalized “Rose” is shown as a separate token. Words separated by a hyphen across a line break are rejoined. No other data cleaning or OCR correction was performed. <a href="#token-parse">Details on POS parsing and types of tags used</a>.</p>
        <p><strong>beginLineChars</strong>: Count of the initial character of each line in this page section (ignoring whitespace).</p>
        <p><strong>endLineChars</strong>: Count of the last character on each line in this page section (ignoring whitespace).</p>

      </div> <!-- End short documentation -->
    </div> <!-- End row-->
    <hr>
    <div class="row-fluid">

      <div class="col-md-8">
        <h2 id="downloads">Download Links</h2>
        <p class="text-info">This feature dataset is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
        <h3>Download</h3>
        <p>Below we provide the extracted feature data for download, in the form of chronologically sequential bundles consisting of page-level features and metadata. While we attempted to keep the bundles of similar size, the file size varies because we were careful to not split years between bundles.</p>
        <p>
          <a href="http://sandbox.htrc.illinois.edu/ngpd-features/sample.tar">Data Sample</a>(126M)
        </p><p></p>
        <a href="http://sandbox.htrc.illinois.edu/ngpd-features/pre-1850.tar">pre-1850</a> (4.2G),
        <a href="http://sandbox.htrc.illinois.edu/ngpd-features/1850-1879.tar">1850–1879</a> (5.5G),
        <a href="http://sandbox.htrc.illinois.edu/ngpd-features/1880-1889.tar">1880–1889</a> (3.3G),
        <a href="http://sandbox.htrc.illinois.edu/ngpd-features/1890-1899.tar">1890-1899</a> (4.4G)<br>
        <a href="http://sandbox.htrc.illinois.edu/ngpd-features/1900-1909.tar">1900-1909</a> (5.7G),
        <a href="http://sandbox.htrc.illinois.edu/ngpd-features/1910-1919.tar">1910–1919</a> (5.5G),
        <a href="http://sandbox.htrc.illinois.edu/ngpd-features/post-1919.tar">post-1919</a> (2.0G)
        <p></p>

        <h3 id="rsync">Rsync</h3>
        <p>The data is also set up to be downloaded with rsync. This has the benefit of allowing you to download feature files individually, and keeping them in sync with our copies.</p>
        <p>To sync all the feature files:</p>
        <pre><code>rsync -v sandbox.htrc.illinois.edu::ngpd-features/*/*.json.bz2 .</code></pre>
        <p>This command will <em>download all 250k files</em>. If you would like a listing of all the files to see what is available, or to selectively sync parts of the data:</p>
        <pre><code>rsync -v sandbox.htrc.illinois.edu::ngpd-features/*.txt .</code></pre>
        <p>To sync a single feature file for which you know the (file friendly) volume id</p>
        <pre><code>rsync -v sandbox.htrc.illinois.edu::ngpd-features/uiuo/uiuo.ark+=13960=t0jt0c18w.json.bz2 .</code></pre>

        <p>You can also sync any of the download files above, such as the random sample of 1000 volumes:</p>
        <pre><code>rsync -v sandbox.htrc.illinois.edu::ngpd-features/sample.tar .</code></pre>



      </div><div class="col-md-4">
        <h2>About the Data</h2>
        <p>The data provided here represents non-consumptive features of pages from the HathiTrust's non-Google-digitized volumes. These are primarily English-language public domain volumes.</p>
        <p><a href="http://www.hathitrust.org/datasets">More information about HathiTrust datasets.</a></p>
        <table class="table">
          <tbody><tr>
            <td># of pages</td><td style="text-align:right">67,932,813</td>
          </tr><tr>
            <td># of volumes</td><td style="text-align:right">250,178</td>
          </tr><tr>
            <td>Years</td><td style="text-align:right">1431-2010</td>
          </tr><tr>
            <td>Median Date</td><td style="text-align:right">1899</td>
          </tr>
        </tbody></table>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <!-- START DOCUMENTATION/QUESTION -->




        <h2 id="questions">Questions</h2>
        <h3 id="token-parse">How are tokens parsed?</h3>
        <p>Hyphenation of tokens at end of line was corrected using custom code. <a href="http://opennlp.apache.org/">Apache OpenNLP</a> was used for sentence segmentation, tokenization, and part of speech (POS) tagging. No additional data cleaning or OCR corrections was performed.</p>
        <p>OpenNLP uses <a href="http://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html">the Penn Treebank POS tags</a>.</p>
        <h3 id="page-id">Can I use the page sequence as a unique identifier?</h3>
        <p>The <em>seq</em> value is always sequential from the start. In this version of processing, the seq value was extracted from the filename. In some limited cases, if the labeling of the filenames doesn’t align with the seq given in the METS file, then our pages are not in alignment with HT. In the future, we will change and use the METS file to specify the seq number. Each scanned page of a volume has a unique sequence number, but it is specific to the <em>current</em> version of the full text. In theory, updates to the OCR that add or remove pages will change the sequence. The practical likelihood of sequential changes is low, but uses of the page as an id should be cautious.</p>
        <p>A future release of this data will include persistent page identifiers that remain unchanged when there are sequential changes.</p>
        <h3 id="metadata">Where’s the bibliographic metadata? Who wrote the book, when is it from, etc.?</h3>
        <p>This dataset is foremost an extracted features dataset, with minimal metadata included as a convenience. For additional metadata information, i.e. subject classifications, etc., HT offers <a href="http://www.hathitrust.org/hathifiles">Hathifiles</a>, which can be paired to our feature dataset through the volume <em>id</em> field.</p>
        <p>The metadata that <em>is</em> included in this data includes MARC metadata from Hathitrust and additional information from Hathifiles:</p>
        <ul>
          <li>imprint: 260a from Hathitrust MARC record, 260b and 260c from Hathifiles.</li>
          <li>language: MARC control field 008 from Hathifiles.</li>
          <li>pubDate: extracted from Hathifiles. See also: <a href="http://www.hathitrust.org/bib_rights_determination">details on HathiTrust's rights-determination</a>.</li>
          <li>oclc: extracted from HathiFiles.</li>
        </ul>
        <p>Additionally, schemaVersion and dateCreated are specific to this feature dataset.</p>
        <h3 id="eol">What do I do with beginning- or end-of-line characters?</h3>
        <p>The characters at the start and end of a line can be used to differentiate text from <a href="http://en.wikipedia.org/wiki/Paratext">paratext</a> at a page level. For instance, index lines tend to begin with capitalized letters and end with numbers. Likewise, lines in a table of contents can be identified through arabic or roman numerals at the start of a line.</p>
        <h3 id="header-q">What is the difference between the header, body, and footer sections?</h3>
        <p>Because repeated headers and footers can distort word counts in a document, but also help identify document parts, we attempt to identify repeated lines at the top or bottom of a page and provide separate token counts for those forms of paratext. The “header” and “footer” sections will also include tokens that are page numbers, catchwords, or other short lines at the very top or bottom of a page. Users can of course ignore these divisions by aggregating the token counts for header, body, and footer sections.</p>
        <p>The current implementation uses a variety of heuristics to identify headers and footers, which can be seen in our <a href="http://svn.code.sf.net/p/htrc/code/HTRC-Data-FeatureExtractor/trunk/src/main/java/edu/illinois/i3/htrc/data/featurextract/NaivePageStructureParser.java">code base</a>. Note that we are considering methods for improving header/footer parsing, and this code is subject to change.</p>




      </div> <!-- End documentation col-->
    </div> <!-- End documentation row-->
    <hr>
    <div class="row-fluid">
      <div class="span4">
        <h4>Contact Us</h4>
        <p class="contact">Need JavaScript to show</p>


      </div>
      <div class="span4">
        <h4>Tools</h4>
        <p class="text-muted">If you've built tools or scripts for processing our data, let us know and we'll feature them here!</p>
      </div>
      <div class="span4">
        <h4>Projects</h4>
        <p class="text-muted">Let us know about your projects and we'll link to them here.</p>
      </div>
    </div>

  </div><!-- End body container-->

  <script>
  // Code for filling in Mailing list address
  $(document).ready(function(){
    var a = "@";
    $(".contact").text("htrc-support-l"+a+"list.indiana.edu");
  });
  </script>

}
