@(user: User)

@main("Home", user) {
    <div class="container container-panel" style="padding-top: 15px; padding-bottom: 15px;">
        <div class="row" style="padding-left: 15px;">
            <div class="col-md-3">
                <img src="@routes.Assets.at("images/hathi.jpg")" width="180" height="180">
            </div>
            <div class="col-md-9" style="margin-left : 0 ;">
                <h3 style="font-size: 60px; line-height: 1; margin-top: 35px;">
                    Welcome to the HathiTrust Research Center!
                </h3>
            </div>
        </div>
        <div class="row" style="padding-left: 15px; padding-top : 25px; font-size : 17px; line-height : 27px;">
            <div class="col-md-12">
                <p>The HathiTrust Research Center (HTRC) provides research access to the public domain text of the HathiTrust
                    Digital Library. The HTRC is a collaborative research center launched jointly by Indiana University and the
                    University of Illinois, along with the HathiTrust Digital Library, to help meet the technical challenges of
                    dealing with massive amounts of digital text that researchers face by developing cutting-edge software tools
                    and cyber infrastructure to enable advanced computational access to the growing digital record of human
                    knowledge. The HTRC provides an infrastructure to search, collect, analyze, and visualize the full text of nearly 3
                    million public domain works and is intended for nonprofit and educational
                    researchers. </p>
            </div>
        </div>
        @*<div class="row" style="padding-top : 25px; font-size : 17px; line-height : 27px;">*@
        @*<div class="col-md-12">*@
        @*<h3>Search HathiTrust Research Center Corpus</h3>*@
        @*</div>*@
        @*</div>*@

        @*@helper.form(routes.HTRCWorksetBuilder.searchCorpus()) {*@
        @*<div class="row" style="padding-top : 25 px ; font-size : 17 px ; line-height : 27 px ;">*@
        @*<div class="input-group">*@
        @*<div class="col-md-7">*@
        @*<input type="text" class="form-control" id="search-text" name="searchString" style="width : 100 %">*@
        @*</div>*@
        @*<div class="col-md-3">*@
        @*in*@
        @*<select id="search-context" name="context">*@
        @*<option value="fulltext">Full Text</option>*@
        @*<option value="title">Title</option>*@
        @*<option value="author">Author</option>*@
        @*<option value="subject">Subject</option>*@
        @*</select>*@
        @*</div>*@
        @*<div class="col-md-2">*@
        @*<div class="input-group-btn">*@
        @*<button id="search-button" type="submit" class="btn btn-default" style="width : 100 %">*@
        @*Search</button>*@
        @*</div>*@
        @*</div>*@
        @*</div>*@
        @*</div>*@
        @*}*@
        <div class="row" style="padding-left: 15px;">
            <div class="col-md-12" style="margin-top : 20px;">
                <h2 style="margin-top : 0"> What You Can Do With HTRC Portal? </h2>
            </div>
        </div>

        <div class="row" style="padding-left: 15px;">
            <div class="col-md-3">
                <div class="panel panel-default panel-htrc margin-bt-0">
                    <div class="panel-heading">
                        Create Workset
                    </div>
                    <div class="panel-body">

                        <p>Create workset using our workset builder.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default panel-htrc margin-bt-0">
                    <div class="panel-heading">
                        Execute Algorithms
                    </div>
                    <div class="panel-body">
                        <p>Execute algorithms on your worksets.</p>


                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default panel-htrc margin-bt-0">
                    <div class="panel-heading">
                        Upload Workset
                    </div>
                    <div class="panel-body">

                        <p>Upload worksets with extra properties in CSV format.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default panel-htrc margin-bt-0">
                    <div class="panel-heading">
                        Browse Workset
                    </div>
                    <div class="panel-body">
                        <p>Browse through already created worksets.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
