@(userId: String, announcements: List[String])
@import java.util

@main("Home", userId) {

    <div class="container container-panel" style="padding-top: 15px; padding-bottom: 15px;">
        <div class="row">
            <div class="col-md-4 col-sm-4 hidden-xs">
                <img class="img-responsive"  src="@routes.Assets.at("images/HTRC_New_Vctr.png")" alt=" ">
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8" style="margin-left: 0;">
                <h1 style="font-weight:bold;font-size:56px">
                    Welcome to the HathiTrust Research Center!
                </h1>
            </div>
        </div>
        <div class="row" style="padding-top : 25px; font-size : 17px; line-height : 27px;">
            <div class="col-md-12">
                <p>The HathiTrust Research Center (HTRC) provides research access to the public domain corpus of the HathiTrust
                    Digital Library. The HTRC is a collaborative research center launched jointly by Indiana University and the
                    University of Illinois, along with the HathiTrust Digital Library, to help meet the technical challenges of
                    dealing with massive amounts of digital text that researchers face by developing cutting-edge software tools
                    and cyber-infrastructure to enable advanced computational access to the growing digital record of human
                    knowledge. The HTRC provides an infrastructure to search, collect, analyze, and visualize the full text of nearly 3
                    million public domain works and is intended for nonprofit and educational
                    researchers. </p>

                    @for( announcement <- announcements){
                        @if(!announcement.isEmpty){
                            <p class="alert alert-warning" role="alert" style="border-width: 2pt; margin-top: 20px; font-weight: bold; padding: 10px; color: black">

                            @Html(announcement)
                            </p>
                        }


                    }

            </div>
        </div>
       <div class="row">
            <div class="col-md-12" style="margin-top : 20px;">
                <h2 style="margin-top : 0">What would you like to do today?</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default panel-htrc margin-bt-0">
                    <div class="panel-heading">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="blacklightLoggingWarning('@play.Play.application().configuration().getString("blacklight.url")')">Create Workset</a>
                    </div>
                    <div class="panel-body">
                        <div class="text-content">Create workset using our workset builder.</div>
                     </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default panel-htrc margin-bt-0">
                    <div class="panel-heading">
                        @if(userId==null){
                            <a href="#" onclick="loggingRequiredWarning('@routes.WorksetManagement.uploadWorksetForm()')">Upload Workset</a>
                        }else{
                            <a href="@routes.WorksetManagement.uploadWorksetForm()" data-toggle="modal">Upload Workset</a>
                        }
                    </div>
                    <div class="panel-body">

                        <div class="text-content">Upload a workset by specifying the
                            necessary data about its volumes through a text file.</div>
                        </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default panel-htrc margin-bt-0">
                    <div class="panel-heading">
                        @if(userId==null){
                            <a href="#" onclick="loggingRequiredWarning('@routes.WorksetManagement.allWorksets()')">Browse Workset</a>
                        }else{
                            <a href="@routes.WorksetManagement.allWorksets()">Browse Workset</a>
                        }
                    </div>
                    <div class="panel-body">
                        <div class="text-content">Browse through already created worksets.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default panel-htrc margin-bt-0">
                    <div class="panel-heading">
                        @if(userId==null){
                            <a href="#" onclick="loggingRequiredWarning('@routes.AlgorithmManagement.listAlgorithms()')">Execute Algorithms</a>
                        }else{
                            <a href="@routes.AlgorithmManagement.listAlgorithms()">Execute Algorithms</a>
                        }
                    </div>
                    <div class="panel-body">

                                    <div class="text-content">Select and execute
                                        text analysis algorithms for word count to more sophisticated
                                        approaches.</div>

                    </div>
                </div>
            </div>

        </div>
    </div>

}
