@(user: User, jobDetails: Collection[edu.indiana.d2i.htrc.portal.bean.JobDetailsBean])


@main("JobDetails", user) {
<div class="row">
    <div class="span4">
        <fieldset>
            <legend><b>ActiveJob Details</b></legend>
            <table>
                @for(details <- jobDetails){
                    <tr>
                        <td><b>ActiveJob Title: </b></td>
                        <td>@details.getJobTitle</td>
                    </tr>
                    <tr>
                        <td><b>Algorithm Name: </b></td>
                        <td>@details.getAlgorithmName</td>
                    </tr>
                    <tr>
                        <td><b>Last Updated: </b></td>
                        <td>@details.getLastUpdatedDate</td>
                    </tr>
                    <tr>
                        <td><b>Results: </b></td>
                        <table>
                        @for(results <- details.getResults){
                            <tr><td><a href="@results._2">@results._1</a> </td></tr>
                        }
                        </table>
                    </tr>
                    <tr>
                        <td><b>ActiveJob Parameters: </b></td>
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                            @for(parameters <- details.getJobParams) {
                                <tr>
                                    <td>@parameters._1</td>
                                    <td>@parameters._2</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </tr>
                    <tr>
                        <td><b>ActiveJob Id: </b></td>
                        <td><span class="label label-info"><b>@details.getJobStatus</b></span></td>
                    </tr>
                }
            </table>
        </fieldset>
    </div>
    <div class="span8">
        <fieldset>
            <legend><b>View Results</b></legend>
            <iframe id="iframeresult" src="" style="width: 100%; height: 500px;">
                <p>Your browser does not support iframes.</p>
            </iframe>
        </fieldset>
    </div>
</div>
}