@(user: User, jobDetails: edu.indiana.d2i.htrc.portal.bean.JobDetailsBean, results: List[Map.Entry[String, String]])


@main("JobDetails", user) {
        <div class="container">
            <div class="panel panel-default panel-htrc panel-with-table">
                <div class="panel-heading">
                    <strong>Job: @jobDetails.getJobTitle</strong>
                </div>
                <div class="panel-body">

                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Job ID</th>
                            <th>Algorithm</th>
                            <th>Last Updated </th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td>@jobDetails.getJobTitle</td>
                            <td>@jobDetails.getJobId</td>
                            <td>@jobDetails.getAlgorithmName</td>
                            <td>@jobDetails.getLastUpdatedDate</td>
                            <td><span class="label label-info"><b>@jobDetails.getJobStatus</b></span></td>
                        </tr>
                    </table>
                    <h3 style="padding-left: 8px;">Input Parameters</h3>
                    <table class="table" id="jobparameters">
                        <thead>
                            <tr>
                                <th data-sort="string">Name<i class="fa fa-sort arrow"></i></th>
                                <th id="paramvalue">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(parameters <- jobDetails.getJobParams) {
                            <tr>
                                <td>@parameters._1</td>
                                <td>@parameters._2</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <h3 style="padding-left: 8px;">Output</h3>
                    <div role="tabpanel" style="padding-left:8px;padding-right:8px;">
                            <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="joboutput">
                        @for((result, index) <- results.zipWithIndex) {
                            <li role="presentation"><a href="#@index" aria-controls="@index" role="tab" data-toggle="tab">@result.getKey</a></li>
                        }
                        </ul>
                        <ul class="tab-content" style="padding-left: 8px; padding-right: 8px; padding-top: 5px;">
                        @for((result, index) <- results.zipWithIndex) {
                            <div role="tabpanel" class="tab-pane" id="@index">
                                @if(result.getKey.contains(".csv") || result.getKey.contains(".zip")){
                                    <a href="@result.getValue" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-download-alt"></span> Click here to download @result.getKey</a>
                                } else {
                                    <iframe class="job-details-iframe" src="@result.getValue">
                                        <p>Your browser does not support iframes.</p>
                                    </iframe>
                                }
                            </div>
                        }
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#joboutput a:first').tab('show')
                $("#resultlink").click(function(e) {
                    e.preventDefault();
                    $("#iframeresult").attr("src", $(this).attr("href"));
                 });
            });
           /* job parameter sorting */ 
           var table = $("#jobparameters").stupidtable(); 
           table.bind('aftertablesort', function (event, data) {  
           var th = $(this).find("th");  
           th.find(".arrow").remove(); 
           var arrow = data.direction === "asc" ? '<i class="arrow fa fa-sort-asc"></i>' : '<i class="arrow fa fa-sort-desc"></i>'; 
           th.append('<i class="arrow fa fa-sort"></i>'); 
           th.eq(data.column).find(".arrow").remove(); 
           $("#paramvalue").find(".arrow").remove(); 
           th.eq(data.column).append(arrow);  
           }); 

        </script>
    }