@(form: Form[HTRCPortal.Login], user: User)

@main("Home", user) {
    <div class="container container-panel" style="padding-top: 15px; padding-bottom: 15px;">
    <div class="row" style="padding-left: 15px;">
        <div class="col-md-3">
            <img src="@routes.Assets.at("images/hathi.jpg")" width="180" height="180">
        </div>
        <div class="col-md-9" style="margin-left: 0;">
            <h3 style="font-size: 60px; line-height: 1;margin-top: 35px;">
                    Welcome to the HathiTrust Research Center!
            </h3>
        </div>
    </div>
    <div class="row" style="padding-left: 15px;">
        <div class="col-md-8">
            <p style="padding-top: 25px; font-size: 17px; line-height: 27px;"> The HathiTrust Research Center (HTRC) provides research access to the public domain text of the HathiTrust
                Digital Library. The HTRC is a collaborative research center launched jointly by Indiana University and the
                University of Illinois, along with the HathiTrust Digital Library, to help meet the technical challenges of
                dealing with massive amounts of digital text that researchers face by developing cutting-edge software tools
                and cyber infrastructure to enable advanced computational access to the growing digital record of human
                knowledge. The HTRC provides an infrastructure to search, collect, analyze, and visualize the full text of nearly 3
                million public domain works and is intended for nonprofit and educational
                researchers.</p>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" style="margin-top: 25px;">
                @*<div class="panel-heading">*@
                    @*<strong>Get Started By Sign In</strong>*@

                @*</div>*@
                <div class="panel-body">
                @helper.form(routes.HTRCPortal.authenticate()) {
                    @if(form.hasGlobalErrors) {
                        <p class="error">
                            @form.globalError.message
                        </p>
                    }
                    @if(flash.contains("success")) {
                        <p class="success">
                            @flash.get("success")
                        </p>
                    }
                    <div class="form-group">
                        <label for="userId">Email address</label>
                        <input type="text" class="form-control"  name="userId" id="userId" autofocus="true" placeholder="Enter User Name">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" type="password" name="password" id="password"  required="true" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Sign In</button>
                    <div class="pull-right">
                        <a href="@routes.UserManagement.createPasswordResetMailForm()" class="btn btn-link btn-sm">Forgot Password?</a>
                        <a href="@routes.UserManagement.createSignUpForm()" class="btn btn-link btn-sm">Sign Up</a>
                    </div>




                    @*<div>*@
                        @*<div>*@
                            @*<input style="font-size: 16px; line-height: 26px; height: auto;" class="login-input" type="text" name="userId" id="userId" autofocus="true" placeholder="User ID..." required="true">*@
                        @*</div>*@
                        @*<div>*@
                            @*<input style="font-size: 16px; line-height: 26px; height: auto;" class="login-input" type="password" name="password" id="password" placeholder="Password..." required="true">*@
                        @*</div>*@
                        @*<div>*@
                            @*<input name="signin" id="signin" type="submit" class="btn btn-primary" value="Sign In" />*@
                            @*<div class="pull-right" style="margin-top: 2px;">*@
                                @*<a href="@routes.UserManagement.createPasswordResetMailForm()" style="font-size: 14px; line-height: 26px;">Forgot Password?</a> &nbsp;*@
                                @*<a href="@routes.UserManagement.createSignUpForm()"  style="font-size: 14px; line-height: 26px;">Sign Up</a>*@
                            @*</div>*@
                        @*</div>*@
                    @*</div>*@
                }
                </div>
            </div>

        </div>
    </div>


        <div class="row" style="padding-left: 15px;">
            <div class="col-md-12" style="margin-top : 20px;">
                <h2 style="margin-top : 0"> What You Can Do With HTRC Portal? </h2>
            </div>
        </div>

        <div class="row" style="padding-left: 15px;">
            <div class="col-md-3">
                <div class="panel panel-default panel-htrc margin-bt-0">
                    <div class="panel-heading">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="blacklightLoggingWarning('@play.Play.application().configuration().getString("blacklight.url")')">Create Workset</a>
                    </div>
                    <div class="panel-body">

                        <p>Create workset using our workset builder.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default panel-htrc margin-bt-0">
                    <div class="panel-heading">
                        <a href="#login-required-modal" data-toggle="modal">Upload Workset</a>
                    </div>
                    <div class="panel-body">

                        <p>Upload worksets with extra properties in CSV format.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default panel-htrc margin-bt-0">
                    <div class="panel-heading">
                        <a href="#login-required-modal" data-toggle="modal">Browse Workset</a>
                    </div>
                    <div class="panel-body">
                        <p>Browse through already created worksets.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default panel-htrc margin-bt-0">
                    <div class="panel-heading">
                        <a href="#login-required-modal" data-toggle="modal">Execute Algorithms</a>
                    </div>
                    <div class="panel-body">
                        <p>Execute algorithms on your worksets.</p>


                    </div>
                </div>
            </div>

        </div>
</div>

}
