@(title: String, userId: String)(content: Html)
@import edu.indiana.d2i.htrc.portal.PlayConfWrapper
@import play.api.Play


<!DOCTYPE html>
<html>
    <head>
        <title> HTRC Portal - @title </title>
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="600">
            <!-- Bootstrap -->
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.at("stylesheets/flat.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/font-awesome.min.css")" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="@routes.HTRCPortal.getCustomTheme()">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/tomorrow.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
        <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/stupidtable.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bowser.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/htrcwarnings.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/uploadws.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/ga-download-tracking.js")"></script>

    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top navbar-htrc" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.HTRCPortal.index()"><img src="@routes.Assets.at("images/hathi.jpg")"
                    width="36" height="32" style="padding-right : 5 px ; margin-top : - 1 px ;" alt=" ">
                        HTRC Portal
                    </a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="@routes.HTRCPortal.index()">Home</a></li>
                        <li><a href="@routes.HTRCPortal.about()">About</a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Worksets <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @if(userId == null) {
                                    <li><a href="#" onclick="loggingRequiredWarning('@routes.WorksetManagement.userWorksets()')" >View my worksets</a></li>
                                } else {
                                    <li><a href="@routes.WorksetManagement.userWorksets()">View my worksets</a></li>
                                }
                                <li class="divider"></li>
                                @if(userId == null) {
                                    <li><a href="#" onclick="loggingRequiredWarning('@routes.WorksetManagement.allWorksets()')">View all worksets</a></li>
                                } else {
                                    <li><a href="@routes.WorksetManagement.allWorksets()">View all worksets</a></li>
                                }
                                <li class="divider"></li>
                                @if(userId == null) {
                                    <li><a href="#" onclick="loggingRequiredWarning('@routes.WorksetManagement.uploadWorksetForm()')">Upload workset</a></li>
                                } else {
                                    <li><a href="@routes.WorksetManagement.uploadWorksetForm()" >Upload workset</a></li>
                                }
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="blacklightLoggingWarning ( '      @play.Play.application().configuration().getString("blacklight.url") ')">
                                        Create workset</a>
                                </li>
                            </ul>
                        </li>
                        @if(userId == null) {
                            <li><a href="#" onclick="loggingRequiredWarning('@routes.AlgorithmManagement.listAlgorithms()')" >Algorithms</a></li>
                        } else {
                            <li><a href="@routes.AlgorithmManagement.listAlgorithms()">Algorithms</a></li>
                        }
                        @if(userId == null) {
                            <li><a href="#" onclick="loggingRequiredWarning('@routes.JobManagement.listJobs()')">Results</a></li>
                        } else {
                            <li ><a href="@routes.JobManagement.listJobs()">Results</a></li>
                        }
                        @if(PlayConfWrapper.isDataCapsuleEnable) {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    HTRC Data Capsule<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://wiki.htrc.illinois.edu/display/COM/HTRC+Data+Capsule">
                                        Documentation</a>
                                    </li>
                                    <li class="divider"></li>
                                    @if(userId == null) {
                                        <li><a href="#" onclick="loggingRequiredWarning('@routes.ExperimentalAnalysis.listVMs()')" >
                                            Show Virtual Machines</a></li>
                                    } else {
                                        <li><a href="@routes.ExperimentalAnalysis.listVMs()">Show virtual machines</a></li>
                                    }
                                    <li class="divider"></li>
                                    @if(userId == null) {
                                        <li><a href="#" onclick="loggingRequiredWarning('@routes.ExperimentalAnalysis.createVMForm()')" >
                                            Create Virtual Machine</a></li>
                                    } else {
                                        <li><a href="@routes.ExperimentalAnalysis.createVMForm()">
                                            Create virtual machine</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Data<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="@routes.HTRCPortal.features()">
                                    Extracted Features Dataset</a>
                                </li>
                                <li><a href="@routes.HTRCPortal.fiction()">
                                    Word Frequencies in English-Language Literature, 1700-1922</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Help<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://wiki.htrc.illinois.edu/display/COM/HTRC+User+Getting+Started+FAQ">
                                    Knowledge Base</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="mailto:htrc-tech-help-l@@list.indiana.edu?Subject=Contact">
                                    Contact</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    @if(userId == null) {
                        <ul class="nav pull-right navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Sign In<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@routes.HTRCPortal.login()">Sign In</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@routes.UserManagement.createPasswordResetMailForm()">
                                        Forgot Password?</a></li>
                                </ul>
                            </li>


                            <li><a href="@routes.UserManagement.createSignUpForm()"><span>Sign Up</span></a></li>
                        </ul>
                    } else {
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle loggedin-user" data-toggle="dropdown" style="color : #FF9933 ;">@userId<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@routes.HTRCPortal.logout()">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                </div>
                    <!--/.nav-collapse -->
            </div>
        </nav>
        @*<div class="container" style="padding-top : 15 px ;">*@
        @content

        <div class="container">
        <p style="text-align: center; font-size: small; margin-top: 10px;">HTRC Portal (<a href="@PlayConfWrapper.releaseDocument()" target="_blank">@PlayConfWrapper.releasedVersion()</a>)
        </p>
        </div>

        @*</div>*@
        <div id="push"></div>
        @*<div id="footer">*@
        @*<div class="container">*@
        @*<hr/>*@
        @*<ul class="pull-right nav-footer">*@
        @*<li> <a href="http://www.hathitrust.org/htrc"*@
        @*title="About Hathi Trust Research Center"> About </a> | </li>*@
        @*<li> <a href="#"> Contact </a> </li>*@
        @*</ul>*@
        @*</div>*@
        @*</div>*@
        <div class="modal fade" id="create-collection-modal" aria-hidden="true" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Create Workset</h4>
                    </div>
                    <div class="modal-body">
                        <p>You are being redirected to the Workset Builder.
                            If this is the first time accessing it during this browser session,
                            you will need to select "Login" from the top-right menu bar before creating or modifying a workset.
                            We are aware this is inconvenient and we're working on a technical solution to eliminate this requirement.</p>
                    </div>
                    <div class="modal-footer">
                        <span class="pull-left" style="padding-top : 5 px ;"><input type="checkbox" id="dont-show" style="margin : - 3 px 0 0 ;">
                            Don't Show This Again.</span>
                        <a href="#" class="btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</a>
                        <a id="modal-wb-url" href="" class="btn btn-sm btn-primary" onclick="goToCreateCollection ( )">
                            Go</a>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="modal fade" id="upload-csv-modal" aria-hidden="true" tabindex="-1" role="dialog">*@
            @*<div class="modal-dialog">*@
                @*<div class="modal-content">*@
                    @*<div class="modal-header">*@
                        @*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">*@
                            @*Close</span></button>*@
                        @*<h4 class="modal-title">Upload Workset</h4>*@
                    @*</div>*@

                        @*<div class="modal-body">*@
                            @*<p>You can only upload worksets as text files that are in CSV (comma-separated-values) format.</p>*@
                            @*<div class="form-group has-feedback" id="wsname-control-group">*@
                                @*<label for="uploadWorksetName" class="control-label">Workset Name</label>*@
                                @*<input type="text" id="uploadWorksetName" class="form-control" name="uploadWorksetName" placeholder="Workset Name" required="required" aria-describedby="wsname-feedback-status"/>*@
                                @*<span id="wsname-feedback" class="form-control-feedback" aria-hidden="true"></span>*@
                                @*<span id="wsname-feedback-status" class="sr-only">(success)</span>*@
                                @*<div id="workset_name_alert_placeholder">*@
                                @*</div>*@
                                @*<span class="help-block">*@
                                    @*Only characters A-Z, 0-9, or _ allowed.<br>*@
                                    @*<span id="wsname-warn-block" class="warn-block"></span>*@
                                @*</span>*@
                            @*</div>*@
                            @*<div class="form-group">*@
                                @*<label for="uploadWSdescription">Description</label>*@
                                @*<input type="text" id="uploadWSdescription" class="form-control" name="uploadWSdescription" placeholder="Description" maxlength="100">*@
                            @*</div>*@
                            @*<div class="form-group">*@
                                @*<label for="inputCSV">CSV File:</label>*@
                                @*<input type="file" accept="text/csv" name="csv" id="inputCSV" required="required">*@
                            @*</div>*@
                            @*<div class="checkbox">*@
                                @*<label >*@
                                    @*<input type="checkbox" name="privateWorkset" checked="checked"/> Private workset.*@
                                @*</label>*@
                            @*</div>*@

                            @*<div class="modal-footer">*@
                                @*<a href="#" class="btn btn-link btn-sm" data-dismiss="modal">Close</a>*@
                                @*<button type="submit" class="btn btn-primary btn-sm" id="ws-submit">Submit</button>*@
                            @*</div>*@
                        @*</div>*@
                    @*}*@

                @*</div>*@
            @*</div>*@
        @*</div>*@
        <div class="modal fade" id="login-required-modal" aria-hidden="true" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Please Sign in</h4>
                    </div>
                    <div class="modal-body">
                        <p>You need to sign in to access this functionality.</p>
                    </div>
                    <div class="modal-footer">
                        @*<span class="pull-left" style="padding-top: 5px;"><input type="checkbox" id="dont-show" style="margin : -3px 0 0 ;">*@
                        @*Don't Show This Again.</span>*@
                        <a href="#" class="btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</a>
                        <a id="modal-target-url" href="" data-toggle="modal" class="btn btn-sm btn-primary">
                            Go</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '@PlayConfWrapper.googleAnalyticsCode()', 'auto');
            ga('send', 'pageview');
        </script>
    </body>



</html>
