@(title: String, user: User)(content: Html)
    @import play.api.Play


<!DOCTYPE html>
    <html>
        <head>
            <title> HTRC Portal - @title </title>
            <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <!-- Bootstrap -->
            <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
            <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">
            <link href="@routes.Assets.at("stylesheets/flat.css")" rel="stylesheet" media="screen">
            <link href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")" rel="stylesheet">
            <link href="@routes.Assets.at("stylesheets/font-awesome.min.css")" rel="stylesheet">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

            <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
            <script src="@routes.Assets.at("javascripts/stupidtable.min.js")"></script>
            <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/htrcwarnings.js")"></script>
        </head>
        <body>
            <nav class="navbar navbar-default navbar-fixed-top navbar-htrc" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@routes.HTRCPortal.index()"><img src="@routes.Assets.at("images/hathi.jpg")"
                        width="36" height="32" style="padding-right : 5 px ; margin-top : - 1 px ;">
                            HTRC Portal
                        </a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="@routes.HTRCPortal.index()">Home</a></li>
                            <li><a href="@routes.HTRCPortal.about()">About</a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Worksets <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @if(user == null) {
                                        <li><a href="#login-required-modal" data-toggle="modal" >List</a></li>
                                    } else {
                                        <li><a href="@routes.WorksetManagement.worksets()">List</a></li>
                                    }
                                <li class="divider"></li>
                                    @if(user == null) {
                                        <li><a href="#login-required-modal" data-toggle="modal">Upload Workset</a></li>
                                    } else {
                                        <li><a href="#upload-csv-modal" data-toggle="modal">Upload Workset</a></li>
                                    }
                                <li class="divider"></li>
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="blacklightLoggingWarning ( '     @play.Play.application().configuration().getString("blacklight.url") ')">
                                        Create Workset</a>
                                </li>
                                </ul>
                            </li>
                            @if(user == null) {
                                <li><a href="#login-required-modal" data-toggle="modal" >Algorithms</a></li>
                            } else {
                                <li><a href="@routes.AlgorithmManagement.listAlgorithms()">Algorithms</a></li>
                            }
                            @if(user == null) {
                                <li><a href="#login-required-modal" data-toggle="modal" >Results</a></li>
                            } else {
                                <li><a href="@routes.JobManagement.listJobs()">Results</a></li>
                            }
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                HTRC Data Capsule<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="http://wiki.htrc.illinois.edu/display/COM/HTRC+Data+Capsule">
                                    Documentation</a>
                                    </li>
                                    <li class="divider"></li>
                                    @if(user == null) {
                                        <li><a href="#login-required-modal" data-toggle="modal" >
                                            Show Virtual Machines</a></li>
                                    } else {
                                        <li><a href="@routes.ExperimentalAnalysis.listVMs()">Show Virtual Machines</a></li>
                                    }
                                    <li class="divider"></li>
                                    @if(user == null) {
                                        <li><a href="#login-required-modal" data-toggle="modal" >
                                            Create Virtual Machine</a></li>
                                    } else {
                                        <li><a href="@routes.ExperimentalAnalysis.createVMForm()">
                                            Create Virtual Machine</a></li>
                                    }
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Help<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="http://wiki.htrc.illinois.edu/display/COM/HTRC+User+Getting+Started+FAQ">
                                    Knowledge Base</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="mailto:htrc-tech-help-l@@list.indiana.edu?Subject=Contact">
                                    Contact</a>
                                    </li>
                                </ul>
                            </li>
                            @*<li><a href="http://wiki.htrc.illinois.edu/display/COM/HTRC+User+Getting+Started+FAQ">Help</a></li>*@
                        </ul>
                        @if(user == null) {
                            <ul class="nav pull-right navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Sign In<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@routes.HTRCPortal.login()">Sign In</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@routes.UserManagement.createPasswordResetMailForm()">
                                            Forgot Password?</a></li>
                                    </ul>
                                </li>


                                <li><a href="@routes.UserManagement.createSignUpForm()"><span>Sign Up</span></a></li>
                            </ul>
                        } else {
                            <ul class="nav pull-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle loggedin-user" data-toggle="dropdown" style="color : #FF9933 ;">@user.userId <span>
                                        (@user.email)</span> <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@routes.HTRCPortal.logout()">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        }
                    </div>
                        <!--/.nav-collapse -->
                </div>
            </nav>
            @*<div class="container" style="padding-top : 15 px ;">*@
            @content
            @*</div>*@
            <div id="push"></div>
            @*<div id="footer">*@
            @*<div class="container">*@
            @*<hr/>*@
            @*<ul class="pull-right nav-footer">*@
            @*<li> <a href="http://www.hathitrust.org/htrc"*@
            @*title="About Hathi Trust Research Center"> About </a> | </li>*@
            @*<li> <a href="#"> Contact </a> </li>*@
            @*</ul>*@
            @*</div>*@
            @*</div>*@
            <div class="modal fade" id="create-collection-modal" aria-hidden="true" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Create Workset</h4>
                        </div>
                        <div class="modal-body">
                            <p>You need to log in to HTRC Workset Builder in order to create or modify a workset. This is not depends on whether you have already logged in to HTRC Portal or not.</p>
                        </div>
                        <div class="modal-footer">
                            <span class="pull-left" style="padding-top : 5 px ;"><input type="checkbox" id="dont-show" style="margin : - 3 px 0 0 ;">
                                Don't Show This Again.</span>
                            <a href="#" class="btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</a>
                            <a href="@play.Play.application().configuration().getString("blacklight.url")" class="btn btn-sm btn-primary" onclick="goToCreateCollection ( )">
                            Go</a>
                        </div>
                    </div>
                </div>
            </div>

        </body>
        <div class="modal fade" id="upload-csv-modal" aria-labelledby="upload-csv-label" aria-hidden="true" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">
                        Close</span></button>
                        <h4 class="modal-title">Upload Workset</h4>
                    </div>
                    @helper.form(action = routes.WorksetManagement.uploadWorkset, 'enctype -> "multipart/form-data") {
                        <div class="modal-body">
                            <p>You can only upload worksets as text files in CSV format.</p>
                            <div class="form-group">
                                <label for="worksetName">Workset Name</label>
                                <input type="text" id="worksetName" class="form-control" name="worksetName" placeholder="Workset Name" oninput="checkworksetname(this.value)" required="true">
                                <div id="workset_name_alert_placeholder">
                                    <em>Only characters A-Z, 0-9, or _ allowed.</em>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" id="description" class="form-control" name="description" placeholder="Description" maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label for="inputCSV">CSV File:</label>
                                    <input type="file" accept="text/csv" name="csv" id="inputCSV" required="true">
                                </div>
                                <div class="checkbox">
                                    <label >
                                        <input type="checkbox" name="privateWorkset" checked="true"/> Private workset.
                                    </label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-link btn-sm" data-dismiss="modal">Close</a>
                                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                            </div>
                            }
                </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="login-required-modal" aria-hidden="true" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Please Sign in</h4>
                    </div>
                    <div class="modal-body">
                        <p>You need to sign in to access this functionality.</p>
                    </div>
                    <div class="modal-footer">
                        @*<span class="pull-left" style="padding-top: 5px;"><input type="checkbox" id="dont-show" style="margin : -3px 0 0 ;">*@
                        @*Don't Show This Again.</span>*@
                    <a href="#" class="btn btn-link btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</a>
                    <a href="@routes.HTRCPortal.login()" class="btn btn-sm btn-primary">
                        Go</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function checkworksetname(worksetname){
            if(worksetname.indexOf(' ')>= 0){
                showwsnamealert("Workset name must not contain any white spaces.");
            }
            if(worksetname.match("[!,@@,#,$,%,\\,^,\/,&,*,?,~,(,),-]")) {
                showwsnamealert ( "Workset name must not contain any special characters. Please use only letters, numbers and '_' in your workset name(a-z,A-Z,0-9,_)." ) ;
            }
        }
        function showwsnamealert ( message ) {

        $ ( '#workset_name_alert_placeholder' ).append ( '<div id="useridalertdiv" class="alert alert-danger">' +
        '<a class="close" data-dismiss="alert">×</a>' +
        '<span>' + message + '</span>' +
        '</div>' ) ;

        setTimeout ( function ( ) { // this will automatically close the alert and remove this if the users doesnt close it in 5 secs
        $ ( "#useridalertdiv" ).remove ( ) ;
        }, 5000 ) ;
        }
        </script>

    </html>
