@(form: Form[UserManagement.PasswordResetMail], userId: String)


    @main("PasswordResetMail", userId) {
        <div class="container">
            <div class="panel panel-default panel-htrc">
                <div class="panel-heading">
                    <strong>Reset Password</strong>
                </div>
                <div class="panel-body">
                @helper.form(routes.UserManagement.passwordResetMail(), 'class -> "form-horizontal") {
                    @if(form.hasGlobalErrors) {
                        <p class="error">
                        @form.globalError.message
                        </p>
                    }
                    @if(flash.contains("success")) {
                        <p class="success">
                        @flash.get("success")
                        </p>
                    }
                    <div class="form-group">
                        <label for="userId" class="col-sm-2 control-label">User ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="userId" name="userId" placeholder="User ID" required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary btn-sm">Reset Password</button>
                            <a href="@routes.UserManagement.createUserIDRetrieveMailForm()" class="btn btn-link btn-sm">
                                Forgot User Id ?</a>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    }