@(docs: List[Doc], user: User, form: Form[HTRCWorksetBuilder.SearchCorpus])

@main("Search", user){
    @helper.form(routes.HTRCWorksetBuilder.searchCorpus()){
        @if(form.hasGlobalErrors) {
            <p class="error">
                @form.globalError.message
            </p>
        }
        @if(flash.contains("success")) {
            <p class="success">
                @flash.get("success")
            </p>
        }
        <div class="row" style="padding-top: 25px; font-size: 17px; line-height: 27px;">
            <div class="input-group">
                <div class="span7">
                    <input type="text" class="form-control" id="search-text" name="searchString" style="width: 100%">
                </div>
                <div class="span3">
                        in
                    <select id="search-context" name="context">
                        <option value="fulltext">Full Text</option>
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="subject">Subject</option>
                    </select>
                </div>
                <div class="span2">
                    <div class="input-group-btn">
                        <button id="search-button"  type="submit" class="btn btn-default" style="width: 100%">Search</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-12">
            @for((v, index) <- docs.zipWithIndex){
                <div class="volume">
                <h3><span style="color: #444;">@index .</span><a href="http://babel.hathitrust.org/cgi/pt?id=@v.getId;view=1up;seq=1" target="_blank">@v.getTitle</a></h3>
                <dl class="volume-details">
                <dt class="volume-id">Volume Id:</dt>
                <dd class="volume-id">@v.getId</dd>
                <dt class="volume-author">Author:</dt>
                <dd class="volume-author">@v.getAuthor</dd>
                <dt class="volume-pageCount">Page Count:</dt>
                <dd class="volume-pageCount">@v.getHtrcPageCount</dd>
                <dt class="volume-wordCount">Word Count:</dt>
                <dd class="volume-wordCount">@v.getWordCount</dd>
                </dl>
                </div>
            }
        </div>
    </div>
}