@(form: Form[UserManagement.SignUp], user: User)


@main("SignUp", user) {
    <div class="container">
        <div class="panel panel-default panel-htrc">
            <div class="panel-heading">
                <strong>User Registration (ALL fields are required)</strong>
            </div>
            <div class="panel-body">
            @helper.form(routes.UserManagement.signUp(), 'class -> "form-horizontal") {
                @if(form.hasGlobalErrors) {
                    <p class="error">
                    @form.globalError.message
                    </p>
                }
                @if(flash.contains("success")) {
                    <p class="success">
                    @flash.get("success")
                    </p>
                }
                <div class="form-group">
                    <label for="userId" class="col-sm-2 control-label">User ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="userId" name="userId" placeholder="User ID" required="true" oninput="checkuserid(this.value)" value="@form.data().get("userId")"/>
                        <div id="user_id_alert_placeholder">
                        </div>
                        <span class="help-block">
                            Please use only letters and numbers in your user ID(a-z,A-Z,0-9).

                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" id="password" name="password" placeholder="Password" required class="form-control" min="15">
                        <div id="alert_placeholder">
                        </div>
                        <span class="help-block">
                            Please include following rules in your password.
                            <ul>
                                <li>
                                    Password must be more than 15 characters long.
                                </li>
                                <li>
                                    Password must contain characters from <b>two</b> of the following five categories:
                                    <ul>
                                        <li>Uppercase characters of European languages (A through Z, with diacritic marks, Greek and Cyrillic characters)</li>
                                        <li>Lowercase characters of European languages (a through z, sharp-s, with diacritic marks, Greek and Cyrillic characters)                                        </li>
                                        <li>Base 10 digits (0 through 9)
                                        </li>
                                        <li> Nonalphanumeric characters
                                        </li>
                                        <li>
                                            Any Unicode character that is categorized as an alphabetic character but is not uppercase or lowercase. This includes Unicode characters from Asian languages.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Password must <b>not</b> contain any white spaces.
                                </li>
                                <li>
                                    Password must <b>not</b> contain your user ID.
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="col-sm-2 control-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Password" required>
                        <script language='javascript' type='text/javascript'>
                        var password = document.getElementById("password")
                        , confirm_password = document.getElementById("confirmPassword");

                        function validatePassword(){
                        if(password.value != confirm_password.value) {
                        confirm_password.setCustomValidity("Passwords Don't Match");
                        } else {
                        confirm_password.setCustomValidity('');
                        }
                        }

                        password.onchange = validatePassword;
                        confirm_password.onkeyup = validatePassword;
//                        function checkpassword ( input ) {
//                        if ( input.value != document.getElementById ( 'password' ).value ) {
//                        input.setCustomValidity ( 'Password Must be Matching.' ) ;
//                        } else {
//                        // input is valid -- reset the error message
//                        input.setCustomValidity ( '' ) ;
//                        }
//                        }
                        </script>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="firstName" name="firstName" placeholder="First Name" required="true" value="@form.data().get("firstName")">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Last Name" required="true" value="@form.data().get("lastName")">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required="true" value="@form.data().get("email")">
                        <span class="help-block">Please enter your institutional email.
                            If you don't have an institutional email or if your email is not recognized by our system,
                            please <a href="@routes.UserManagement.createAccountRequestForm()">
                            request account</a> with your current email address.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmEmail" class="col-sm-2 control-label">Confirm Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="confirmEmail" name="confirmEmail" placeholder="Email" required="true" value="@form.data().get("ConfirmEmail")" oninput="checkemail(this)">
                        <script language='javascript' type='text/javascript'>
                        function checkemail ( input ) {
                        if ( input.value != document.getElementById ( 'email' ).value ) {
                        input.setCustomValidity ( 'Email Must be Matching.' ) ;
                        } else {
                        // input is valid -- reset the error message
                        input.setCustomValidity ( '' ) ;
                        }
                        }
                        </script>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 help-block">
                        <input type="checkbox" name="acknowledgement" id="acknowledgement">&nbsp; &nbsp; I acknowledge that I am being
                        granted access to HathiTrust (HT) texts and/or data and will not knowingly copy
                        HT page text, HT page images, or primary bibliographic metadata (MARC catalog
                        records) from my workspace to another computing system, nor will I remove these
                        from the SHARC (Secure HathiTrust Analytic Research Commons) environment.
                        I also understand that some of the data may be determined at a later date to be
                        in copyright and that the HathiTrust Research Center (HTRC) will delete these
                        items and any copies that have been made upon notification from the HathiTrust
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-sm" id="submit" disabled>Sign Up</button>
                        <a href="@routes.UserManagement.createSignUpForm()" class="btn btn-default btn-sm">
                            Reset</a>
                        <a href="@routes.HTRCPortal.index()" class="btn btn-inverse btn-sm">
                            Cancel</a>
                    </div>
                </div>
                <script src="@routes.Assets.at("javascripts/passwordstrengthchecker.js")"></script>
                <script type="text/javascript">
                function checkuserid ( userid ) {
                if ( userid.indexOf(' ') >= 0 ) {
                showuseridalert ( "User ID must not contain any white spaces." ) ;
                }
                if ( userid.match("[!,@@,#,$,%,\,/,^,&,*,?,~,(,),-]")) {
                showuseridalert ( "User ID must not contain any special characters. Please use only letters and numbers in your user ID(a-z,A-Z,0-9)." ) ;
                }
                }
                function showuseridalert ( message ) {

                $ ( '#user_id_alert_placeholder' ).append ( '<div id="useridalertdiv" class="alert alert-danger">' +
                '<a class="close" data-dismiss="alert">×</a>' +
                '<span>' + message + '</span>' +
                '</div>' ) ;

                setTimeout ( function ( ) { // this will automatically close the alert and remove this if the users doesnt close it in 5 secs


                $ ( "#useridalertdiv" ).remove ( ) ;

                }, 5000 ) ;
                }

                $(document).ready(function(){
                $('input[type=checkbox]').attr('checked',false);
                });

                var checker = document.getElementById ( 'acknowledgement' ) ;
                var submitbtn = document.getElementById ( 'submit' ) ;
                // when unchecked or checked, run the function
                checker.onchange = function ( ) {
                submitbtn.disabled = !this.checked ;

                };
               </script>
            }
            </div>
        </div>
    </div>
}