@(form: Form[UserManagement.SignUp], user: User)


@main("SignUp", user) {
    <div class="container">
        <div class="panel panel-default panel-htrc">
            <div class="panel-heading">
                <strong>User Registration (ALL fields are required)</strong>
            </div>
            <div class="panel-body">
            @helper.form(routes.UserManagement.signUp(), 'class -> "form-horizontal") {
                @if(form.hasGlobalErrors) {
                    <p class="error">
                    @form.globalError.message
                    </p>
                }
                @if(flash.contains("success")) {
                    <p class="success">
                    @flash.get("success")
                    </p>
                }
                <div class="form-group">
                    <label for="userId" class="col-sm-2 control-label">User ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="userId" name="userId" placeholder="User ID" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" id="password" name="password" placeholder="Password" required="true" class="form-control" min="15">
                        <span class="help-block">
                            <ul>
                                <li>
                                    Password must be more than 15 characters long.
                                </li>
                                <li>
                                    Password must not contain any white spaces.
                                </li>
                                <li>
                                    Password must contain characters from three of the following five categories:
                                    <ul>
                                        <li>Uppercase characters of European languages (A through Z, with diacritic marks, Greek and Cyrillic characters)</li>
                                        <li>Lowercase characters of European languages (a through z, sharp-s, with diacritic marks, Greek and Cyrillic characters)                                        </li>
                                        <li>Base 10 digits (0 through 9)
                                        </li>
                                        <li> Nonalphanumeric characters
                                        </li>
                                        <li> Any Unicode character that is categorized as an alphabetic character but is not uppercase or lowercase. This includes Unicode characters from Asian languages.
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="col-sm-2 control-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Password" required="true" oninput="check(this)" >
                        <script language='javascript' type='text/javascript'>
                        function check ( input ) {
                        if ( input.value != document.getElementById ( 'password' ).value ) {
                        input.setCustomValidity ( 'Password Must be Matching.' ) ;
                        } else {
                        // input is valid -- reset the error message
                        input.setCustomValidity ( '' ) ;
                        }
                        }
                        </script>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="firstName" name="firstName" placeholder="First Name" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Last Name" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required="true">
                        <span class="help-block">Please enter your institutional email.
                            If you don't have an institutional email or if your email is not recognized by our system,
                            please press 'Request Account' with your current email address.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-sm">Sign Up</button>
                        <a href="@routes.UserManagement.createAccountRequestForm()" class="btn btn-link">Request Account</a>
                    </div>
                </div>
                <script src="@routes.Assets.at("javascripts/passwordstrengthchecker.js")"></script>
            }
            </div>
        </div>
    </div>
}