@(form: Form[UserManagement.UserIDRetrieveMail], user: User)


@main("UserIDRetrieve", user) {
    <legend>Reset Password</legend>
    @helper.form(routes.UserManagement.userIDRetrieveMail(), 'class -> "form-horizontal") {
        @if(form.hasGlobalErrors) {
            <p class="error">
            @form.globalError.message
            </p>
        }
        @if(flash.contains("success")) {
            <p class="success">
            @flash.get("success")
            </p>
        }
        <div class="control-group">
            <label for="userEmail" class="control-label">User Email:</label>
            <div class="controls">
                <input type="text" id="userEmail" name="userEmail" placeholder="Email" required="true">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-info">Retrieve UserId</button>
            </div>
        </div>
    }

}