@(userId: String, vmDetailsList: List[edu.indiana.d2i.htrc.sloan.bean.VMStatus])
    @import edu.indiana.d2i.htrc.sloan.bean.VMStatus


    @main("VMList", userId) {

        <div class="container">
            <div class="panel panel-default panel-htrc panel-with-table">
                <div class="panel-heading">
                    <strong>Capsule</strong>
                    <a href="@routes.ExperimentalAnalysis.createVMForm()" class="btn btn-small pull-right" id="create-vm" style="padding-top : 5 px">
                        <i class="icon-plus"></i>
                    </a>
                </div>
                <div class="panel-body">
                    @if(vmDetailsList.length > 0) {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><b>Data Capsule Id</b></th>
                                    <th><b>Status</b></th>
                                    <th><b>Actions</b></th>
                                </tr>
                            </thead>
                            <tbody>
                            @for(vm <- vmDetailsList) {
                                <tr>
                                    <td>
                                        <a href="@routes.ExperimentalAnalysis.showVMStatus(vm.getVmId)">
                                        @vm.getVmId
                                        </a>
                                    </td>
                                    <td>
                                        <span class="label label-info"><b>Status: </b> @vm.getState</span>
                                        <Span class="label label-info"><b>Mode: </b> @vm.getMode</Span>
                                    </td>
                                    <td>
                                    @if(vm.getState.contains("PENDING")) {
                                        @vm.getState
                                        <img src="@routes.Assets.at("images/7.gif")">
                                    } else {
                                        @if(vm.getState == "ERROR") {
                                            <span class="label label-important">@vm.getState</span>
                                        } else {
                                            @if(vm.getState == "SHUTDOWN") {
                                                <a href="@routes.ExperimentalAnalysis.startVM(vm.getVmId)" class="btn btn-success btn-xs" id="startvm">
                                                    Start Capsule
                                                </a>
                                            } else {
                                                <a href="@routes.ExperimentalAnalysis.stopVM(vm.getVmId)" class="btn btn-info btn-xs" id="stopvm">
                                                    Stop Capsule
                                                </a>
                                                @if(vm.getMode == "MAINTENANCE") {
                                                    <a href="#" class="btn btn-info btn-xs" id="switchmode-maintainance" onclick="modalMessage ( 'Switch to Secure Mode',
                                                    'Network in secure mode is highly constrained. You can only access HTRC Data service. You should only write your data to secure volume. ' +
                                                    'Data written to other places will not be persistent.', ' @routes.ExperimentalAnalysis.switchVMMode(vm.getVmId, "SECURE") ')">
                                                        Switch To Secure Mode
                                                    </a>
                                                } else {

                                                    <a href="#" class="btn btn-info btn-xs" id="switchmode-security"
                                                    onclick="modalMessage ( 'Switch to Maintenance Mode',
                                                    'Only data written in secure volume is preserved! Please make sure you save your data to secure volume! Please dismount secure volume in virtual machine before to maintenance mode! ' +
                                                    'Click OK to continue switching, click Cancel to discard switching operation.', ' @routes.ExperimentalAnalysis.switchVMMode(vm.getVmId, "MAINTENANCE") ')">
                                                        Switch To Maintenance Mode
                                                    </a>
                                                }

                                            }

                                        }
                                        <a href="#" class="btn btn-danger btn-xs" id="deletevms" onclick="modalMessage('Delete VM', 'Do you want to delete VM ID:  @vm.getVmId ?', '@routes.ExperimentalAnalysis.deleteVM(vm.getVmId)')">
                                            <i class="icon-trash icon-white"></i> Delete Capsule
                                        </a>


                                    }

                                    </td>
                                </tr>
                            } 
                            </tbody>
                        </table>
                    } else {
                        <p style="padding: 8px;">There are no Data Capsules.</p>
                    }
                    <p class="alert alert-info" style="margin: 10px; padding: 5px;">To log in to a Capsule, you should use a VNC client. You can
                        input the host name and VNC port information shown by clicking the
                        vmid link. For more information, please refer the <a href="http://wiki.htrc.illinois.edu/display/COM/HTRC+Data+Capsule"><b>documentation</b></a>.</p>
                </div>
            </div>
        </div>
        <div class="modal fade" id="popup-modal" aria-hidden="true" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="modal-header"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modal-body"></p>
                    </div>
                    <div class="modal-footer">
                        @*<span class="pull-left" style="padding-top: 5px;"><input type="checkbox" id="dont-show" style="margin : -3px 0 0 ;">*@
                        @*Don't Show This Again.</span>*@
                        <a href="#" class="btn btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</a>
                        <a href="" class="btn btn-primary btn-sm" id="modal-href">Go</a>
                    </div>
                </div>
            </div>
        </div>

            <script type="text/javascript">
            function modalMessage(modalHeader, modalBody, locationHref){
                $('#modal-header').text(modalHeader);
                $('#modal-body').text(modalBody);
                $('#modal-href').attr("href", locationHref);
                $('#popup-modal').modal('show');
                return true ;
            }
            </script>



    }