@(userId: String,totalVolumesCount:Integer,copyRightVolumeCount:Integer,rows:java.util.List[Array[String]],headers:java.util.List[String],uploadWSForm:Form[WorksetManagement.UploadWorkset],wsName:String,wsDescription:String,isPrivate:Boolean,
originalWSFilePath: String,modifiedWSFilePath:String,
missingVolumeCount:Integer,rowsList :List[Validation],rowsInRepositoryList:List[Validation],rowsNotInRepositoryList:List[Validation])
@main("worksetvalidate", userId) {
<div class="container">
    <div class="panel panel-default panel-htrc panel-with-table">
        <div class="panel-heading">
            <strong>Workset Summary</strong>
        </div>
        <div>
            <table class ="table table-hover" id ="workset_summary" style ="margin-top:4px;">
                <tr>
                    <td colspan="3"><strong>Workset Name: @wsName</strong></td>
                </tr>
                <tr >
                    <td width ="50%"><strong>Total Volumes Uploaded</strong></td>
                    <td width ="20%">@totalVolumesCount</td>
                    <td><a class="btn btn-info btn-xs" id="totalvolumes-view" data-toggle="tooltip" data-placement="right"
                                title="View the volumes uploaded" >View</a>
                    <a class="btn btn-info btn-xs" id="totalvolumes-hide" data-toggle="tooltip" data-placement="right"
                                             title="Hide the volumes uploaded" >Hide</a></td>
                    <table class="table" id="view_originalvolume" style="margin-top:4px;">
                        <thead>
                        <tr>
                            <th>Volume ID</th>
                            <th> Title</th>
                        </tr>
                        </thead>
                        @for(data <- rowsList){
                        <tr>
                            <td>@data.getVolumeID()</td>
                            <td>@data.getTitle()</td>
                        </tr>
                        }
                    </table>
                </tr>
                </table>
                <table class ="table table-hover" id ="copyrightvolumes_table" style ="margin-top:4px;">
                <tr >
                    <td width ="50%"><strong>Volumes In Public Domain</strong></td>
                    <td width ="20%">@copyRightVolumeCount</td>
                    <td><a class="btn btn-info btn-xs" id="copyrightvolumes-view" data-toggle="tooltip" data-placement="right"
                                title="View the copy right volumes" >View</a>
                    <a class="btn btn-info btn-xs" id="copyrightvolumes-hide" data-toggle="tooltip" data-placement="right"
                                             title="Hide the copy right volumes" >Hide</a></td>

                    <table class="table" id="view_copyrightvolume" style="margin-top:4px;">
                        <thead>
                        <tr>
                            <th>Volume ID</th>
                            <th>Title</th>
                        </tr>
                        </thead>
                        @for(copyrightdata <- rowsInRepositoryList){
                        <tr>
                            <td>@copyrightdata.getVolumeID()</td>
                            <td>@copyrightdata.getTitle()</td>
                        </tr>
                        }
                    </table>

                </tr>
                </table>
                <table class ="table table-hover" id ="missingvolumes_table" style ="margin-top:4px;">

                    <tr>
                    <td width ="50%"><strong>Volumes Not In Public Domain</strong></td>
                    <td width ="20%">@missingVolumeCount</td>
                    <td><a class="btn btn-info btn-xs" id="missingvolumes-view" data-toggle="tooltip" data-placement="right"
                                title="View the missing volumes" >View</a>
                       <a  class="btn btn-info btn-xs" id="missingvolumes-hide" data-toggle="tooltip" data-placement="right"
                                                 title="Hide the missing volumes" >Hide</a></td>

                    <table class="table" id="view_deletedvolume" style="margin-top:4px;">
                        <thead>
                        <tr>
                            <th>Volume ID</th>
                            <th>Title</th>
                        </tr>
                        </thead>
                        @for(missingdata <-rowsNotInRepositoryList){
                        <tr>
                            <td>@missingdata.getVolumeID()</td>
                            <td>@missingdata.getTitle()</td>
                        </tr>
                        }
                    </table>
                </tr>
            </table>





            @helper.form(routes.WorksetManagement.uploadWorkset(), 'class -> "form-horizontal",'id ->"upload_workset"){
            @if(uploadWSForm.hasGlobalErrors){
            <p class="error">@uploadWSForm.globalError().message()</p>
            }
            <div class="form-group">
                <input type="hidden" name="rows" id="rows" value=@rows>

                <input type="hidden" name="headers" id="wsHeaders" value=@headers>
                <input type="hidden" name="wsFilePath" id="wsFilePath">
                <input type="hidden" name="wsName" id="wsName" value="@wsName">
                <input type="hidden" name="wsDescripton" id="wsContent" value=@wsDescription>
                <input type="hidden" name="isPrivate" id="isPrivate" value=@isPrivate>


                <div class="col-sm-offset-0 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-sm" id="validatews-submit" data-toggle="tooltip" data-placement="right"
                            title="submits original workset">Upload Original Workset</button>
                    <button type="submit" class="btn btn-primary btn-sm" id="validatews-modify" data-toggle="tooltip" data-placement="right"
                            title="submits the volumes which are in public domain">Upload Modified Workset</button>

                    <a class="btn btn-inverse btn-sm" id="validatews-back" href="@routes.WorksetManagement.uploadWorksetForm()" target="_self" data-toggle="tooltip" data-placement="right"
                       title="Back to Upload Workset Page"><i class="icon-remove icon-white"></i>Cancel</a>


                </div>


            </div>
                }
            </div>
        </div>
    </div>

<script type="text/javascript"  >
        $(document).ready(function () {

            var volumeCount =@copyRightVolumeCount
            $("#validatews-submit").click(function () {

                if(@totalVolumesCount == 0)
                {
                    alert(' Original Workset is empty. Please click on Cancel and upload a new Workset')
                    return false;
                }
                else
                {
                    $('#wsFilePath').val("@originalWSFilePath");
                    return true;
                }



            });
            $("#validatews-modify").click(function () {

                if(volumeCount == 0)
                {
                    alert(' Modifed Workset is empty. Please click on Upload Original Workset to submit your original Workset or Cancel to upload a new Workset')
                    return false;
                }
                else
                {
                    $('#wsFilePath').val("@modifiedWSFilePath");
                    return true;
                }

            });

            $("#view_deletedvolumes").hide();


            $("#validatews-view").click(function(){
                $("#view_deletedvolumes").show();
                return false;
            });

           $('#view_deletedvolume').wrap('<div id="hide" style="display:none"/>');
           $('#view_deletedvolume').dataTable({
                "bFilter":false,
                "bLengthChange": false

            });
            $("#missingvolumes-view").click(function(){

                $('#hide').css( 'display', 'block' );
                $('#hide_copyright').css('display','none');
                $('#hide_original').css('display','none');
                return false;

                });


            $('#view_copyrightvolume').wrap('<div id="hide_copyright" style="display:none"/>');
            $('#view_copyrightvolume').dataTable({
                "bFilter":false,
                "bLengthChange": false

            });

            $("#copyrightvolumes-view").click(function(){


                $('#hide_copyright').css( 'display', 'block' );
                $('#hide').css('display','none');
                $('#hide_original').css('display','none');
                return false;


                });

            $('#view_originalvolume').wrap('<div id="hide_original" style="display:none"/>');
            $('#view_originalvolume').dataTable({
                "bFilter":false,
                "bLengthChange": false

            });

             $("#totalvolumes-view").click(function(){

                $('#hide_original').css( 'display', 'block' );
                $('#hide').css('display','none');
                $('#hide_copyright').css('display','none');
                return false;

                });

            $("#totalvolumes-hide").click(function(){
                $('#hide_original').css( 'display', 'none' );
                });
             $("#copyrightvolumes-hide").click(function(){
                $('#hide_copyright').css( 'display', 'none' );

             });

             $("#missingvolumes-hide").click(function(){
                $('#hide').css('display','none');
                });


        });
  </script>
}